{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-languages-django-languages">Django Languages</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-gnu-gettext">GNU Gettext</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-in-your-views">In Your Views</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-in-the-template">In the Template</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-update-settingspy">Update settings.py</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-make-a-locale-folder">Make a Locale Folder</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-create-translation-files">Create Translation Files</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-urls">URLs</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-language-dropdown">Language Dropdown</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-languages-adding-a-new-translation">Adding a New Translation</a>
    </li>
{% endblock %}
