{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-github-and-git">GitHub and Git</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-setting-up-your-github-profile">Setting up your GitHub Profile</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-creating-a-repository">Creating a Repository</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-using-a-repository">Using a Repository</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-git-commands">Git Commands</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-git-commits">Git Commits</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-projects">Projects</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-hosting-on-github-pages">Hosting on GitHub Pages</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-github-collaborating-with-github">Collaborating with GitHub</a>
    </li>
{% endblock %}
