{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-lists-css-list-styles">CSS List Styles</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-lists-list-style-type">List Style Type</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-lists-list-style-image">List Style Image</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-lists-list-style-position">List Style Position</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-lists-list-style-shorthand">List Style (Shorthand)</a>
    </li>
{% endblock %}
