{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Django-admin-updating-models{% endblock %}

<!--Section title-->
{% block text_title %}Updating Models{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The process for updating how the Models are viewed in the Admin view is outlined 
        <a 
            class="text-link"
            href="#"
            title="Go to the Models page"
            aria-label="Go to the Models page"
        >
        here
        </a>
        in the Models page.
    </p>
{% endblock %}