{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#HTML-introducing-elements-types">Types Of Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-introducing-elements-head">The Head Element</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-introducing-elements-body">The Body Element</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML--introducing-elements-comments">Comments</a>
    </li>
{% endblock %}
