{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-readme-why-have-a-readme-md-file">Why have a README.md File?</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-readme-setting-up-the-readme">Setting up the README</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-readme-readme-sections">README.md Sections</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-readme-template">Template</a>
        <ul>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-readme-template-readme">README.md</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-readme-template-design">DESIGN.md</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-readme-template-testing">TESTING.md</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-readme-template-dev">DEV.md</a>  
            </li>
        </ul>
    </li>

{% endblock %}
