{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-readme-setting-up-the-readme{% endblock %}

<!--Section title-->
{% block text_title %}Setting up the README{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        When you set up your repository, you can select an option to have a README.md file created by default. If not, 
        simply create a README.md file in your root directory and GitHub will automatically detect and display it under 
        your file layout on your repository page.
    </p>
{% endblock %}