{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-lists-what-are-lists">What are Lists?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-lists-accessing-and-modifying-list-elements">Accessing and Modifying List Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-lists-joining-lists">Joining Lists</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-lists-copying-lists">Copying Lists</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-lists-looping-through-a-list">Looping Through a List</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-lists-list-methods">List Methods</a>
    </li>
{% endblock %}
