{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#flask-create-creating-templates">Creating Templates</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-create-creating-routing">Routing</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-create-creating-create-a-form">Create a Form</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-create-creating-update">Update the Database</a>
    </li>
{% endblock %}
