{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-dictionaries-introduction-to-dictionaries">Introduction to Dictionaries</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-dictionaries-accessing-values-in-a-dictionary">Accessing Values in a Dictionary</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-dictionaries-combining-lists-into-dictionaries">Combining Lists into Dictionaries</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-dictionaries-looping-through-a-dictionary">Looping Through a Dictionary</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-dictionaries-dictionary-comprehension">Dictionary Comprehension</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-dictionaries-dictionary-methods">Dictionary Methods</a>
    </li>

{% endblock %}
