{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}JavaScript-data-types-code-snippets-string-methods{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="javascript">let stringVariable = “This is a string”;
console.log(stringVariable.length); // This will log the length of the string to the console
let stringVariableLength = stringVariable.length; // This will store the string length in a new numeric variable
</code></pre>
{% endblock %}