{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-colour-colour-in-ui-design-and-branding{% endblock %}

<!--Section title-->
{% block text_title %}Colour in UI Design and Branding{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Consistent colour usage enhances the
        <dfn title="User Interface">UI</dfn> 
        and strengthens your brand identity. Successful websites use a cohesive colour palette which is usually made up 
        of 3 to 5 main colours. Broken down, these would correspond to:
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Colour
                </th>
                <th>
                    Use
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Primary Colour
                </td>
                <td>
                    The main brand colour
                </td>
            </tr>
            <tr>
                <td>
                    Secondary Colour(s)
                </td>
                <td>
                    This supports the primary colour and is often used for accents
                </td>
            </tr>
            <tr>
                <td>
                    Neutral Colour(s)
                </td>
                <td>
                    Used for backgrounds, typography, and borders
                </td>
            </tr>
            <tr>
                <td>
                    Action Colour
                </td>
                <td>
                    Used for call-to-action buttons (e.g., “Buy Now” or “Sign Up”) and hover effects
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        These colours should be used consistently throughout the interface to help users understand navigation 
        (coloured buttons or links), highlight important features (alerts or banners), and improve visual hierarchy 
        (darker colour = stronger importance).
    </p>
{% endblock %}