{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-colour-the-use-of-colour-in-web-design">The use of Colour in Web Design</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-colour-defining-colours">Defining Colours</a>
        <ul>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-colour-defining-colours-hexadecimal-colours">Hexadecimal Colours</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-colour-defining-colours-rgb-and-rgba">RGB and RGBA</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-colour-defining-colours-hsl-and-hsla">HSL and HSLA</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-colour-defining-colours-named-colours">Named Colours</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-colour-the-psychology-of-colour">The Psychology of Colour</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-colour-colour-contrast-and-accessibility">Colour Contrast and Accessibility</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-colour-colour-in-ui-design-and-branding">Colour in UI Design and Branding</a>
    </li>
{% endblock %}
