{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-colour-the-use-of-colour-in-web-design{% endblock %}

<!--Section title-->
{% block text_title %}The use of Colour in Web Design{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Colour is one of the most powerful tools in web design. It evokes emotion, conveys messages, enhances user 
        experience, and can even guide user behaviour. Whether used to create brand identity, draw attention to 
        important elements, or improve accessibility, colour is a fundamental aspect of creating engaging and 
        effective websites. It is more than just aesthetics though, it's a vital communication tool that guides, 
        informs, and engages users. Understanding colour formats (hex, RGB, HSL), using colour theory principles, 
        ensuring accessibility, and applying consistent branding are all essential parts of modern web development and 
        can turn a good website into a great one.
    </p>
{% endblock %}