{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-colour-the-psychology-of-colour{% endblock %}

<!--Section title-->
{% block text_title %}The Psychology of Colour{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        In web design, colours are not only technical but emotional and psychological tools. Designers use colour to 
        influence how users feel and behave. Some common meanings and elicited emotions of colours are:
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Colour
                </th>
                <th>
                    Perceived Meaning and Common Uses
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Red
                </td>
                <td>
                    Energy, urgency, passion (often used for alerts or buttons)
                </td>
            </tr>
            <tr>
                <td>
                    Blue
                </td>
                <td>
                    Trust, calm, professionalism (commonly used in business or healthcare sites)
                </td>
            </tr>
            <tr>
                <td>
                    Green
                </td>
                <td>
                    Nature, health, growth (used in eco-friendly or finance websites)
                </td>
            </tr>
            <tr>
                <td>
                    Yellow
                </td>
                <td>
                    Optimism, warmth, caution (attention-grabbing but overuse can be overwhelming)
                </td>
            </tr>
            <tr>
                <td>
                    Purple
                </td>
                <td>
                    Luxury, creativity, sophistication
                </td>
            </tr>
            <tr>
                <td>
                    Black
                </td>
                <td>
                    Elegance, power, modernity
                </td>
            </tr>
            <tr>
                <td>
                    White
                </td>
                <td>
                    Cleanliness, simplicity, space
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Designers often choose colours that align with a brand's identity and desired user response.
    </p>

{% endblock %}