{% extends 'includes/html_css_example.html' %}
{% load static %}

{% block code_file_id %}CSS-display-and-positioning-html-css-example-block-level-example{% endblock %}

{% block html_css_code_result_content %}
<div>This is a block-level element.</div><div>This is another block-level element.</div>
{% endblock %}

{% block html_code_example_content %}
<pre><code class="html">&lt;div&gt;This is a block-level element.&lt;/div&gt;&lt;div&gt;This is another block-level element.&lt;/div&gt;
</code></pre>
{% endblock %}

{% block css_code_example_content %}
<pre><code class="css">/*This is set by default*
div {
    display:block;
}
</code></pre>
{% endblock %}
    