{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: Web Development - VS Code{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>Visual Studio Code</h2>
    
    {% include 'intro_to_full_stack/vscode/includes/contents.html' %}
    {% include 'intro_to_full_stack/vscode/includes/what_is_an_ide.html' %}
    {% include 'intro_to_full_stack/vscode/includes/installing_vscode.html' %}
    {% include 'intro_to_full_stack/vscode/includes/creating_your_workspace.html' %}
    {% include 'intro_to_full_stack/vscode/includes/using_vscode.html' %}

{% endblock %}