{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#flask-template-what-is-template-inheritance">What is Template Inheritance?</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-template-base">Base.html</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-template-jinja">Jinja2</a>
        <ul>
            <li class="page-contents-link">
                <a href="#flask-template-jinja-extends">&#123;% extends %&#125;</a>
            </li>
            <li class="page-contents-link">
                <a href="#flask-template-jinja-includes">&#123;% includes %&#125;</a>
            </li>
            <li class="page-contents-link">
                <a href="#flask-template-jinja-block">&#123;% block %&#125;</a>
            </li>
            <li class="page-contents-link">
                <a href="#flask-template-jinja-if">&#123;% if %&#125;</a>
            </li>
            <li class="page-contents-link">
                <a href="#flask-template-jinja-for">&#123;% for %&#125;</a>
            </li>
            <li class="page-contents-link">
                <a href="#flask-template-jinja-url">&#123;&#123; url_for() &#125;&#125;</a>
            </li>
        </ul>
    </li>

{% endblock %}
