{% extends 'includes/code_example.html' %}
{% load static %}

{% block code_file_id %}HTML-semantic-blockquote-example{% endblock %}

{% block code_example_content %}
<pre><code class="html">&lt;article&gt;
    &lt;p&gt;One of my favourite quotations is:&lt;p&gt;
    &lt;blockquote&gt;There is nothing noble in being superior to your fellow man; true nobility is being superior to your former self - Ernest Hemmingway&lt;/blockquote&gt;
    &lt;p&gt;I think about it everyday.&lt;/p&gt;
&lt;/article&gt;
</code></pre>
{% endblock %}

{% block code_result_content %}
<article>
    <p>One of my favourite quotations is:<p>
    <blockquote>
        There is nothing noble in being superior to your fellow man; true 
        nobility is being superior to your former self - Ernest Hemmingway
    </blockquote>
    <p>I think about it everyday.</p>
</article>
{% endblock %}
    