{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}HTML-semantic-aside{% endblock %}

<!--Section title-->
{% block text_title %}Aside{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        An 
        <code class="written-code">&lt;aside&gt;&lt;/aside&gt;</code>
        is used to mark additional information that can enhance another element such as a bibliography, comments or a 
        sidebar. If it is used within an article, it must relate specifically to that article and when used outside of 
        an article, it must relate to the page as a whole.
    </p>
{% endblock %}