{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#HTML-semantic-what-is-semantic-HTML">What is Semantic HTML?</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-header-main-and-footer">Header, Main, and Footer</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-nav">Nav</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-section">Section</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-article">Article</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-aside">Aside</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-blockquote">Blockquote</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-figure-and-figcaption">Figure and Figcaption</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-picture">Picture</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-details-and-summary">Details and Summary</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-semantic-address">Address</a>
    </li>
{% endblock %}
