{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}HTML-semantic-picture{% endblock %}

<!--Section title-->
{% block text_title %}Picture{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        An
        <code class="written-code">&lt;img&gt;</code>
        element is the basic, common way of displaying an image on HTML. However the 
        <code class="written-code">&lt;picture&gt;&lt;/picture&gt;</code>
        semantic HTML element provides functionality for providing various filetypes to ensure that the user's browser 
        can display the image along with the ability to provide different images depending on the screen size of the 
        user's device. The latter will be covered in the
        <a class="text-link" href="#">media queries</a> 
        responsivity section under CSS.
    </p>
    <p>
        The syntax is a
        <code class="written-code">&lt;picture&gt;&lt;/picture&gt;</code>
        with a child or children
        <code class="written-code">&lt;source&gt;</code>
        elements with type attributes usually providing the same image under different filetypes and an 
        <code class="written-code">&lt;img&gt;</code>
        element as final fallback.
    </p>
    {% include 'HTML/semantic/includes/code_snippets/picture_example.html' %}
{% endblock %}