{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}JavaScript-variables-code-snippets-overwrite-same-name{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="javascript">let ageVariable = 5;
console.log(ageVariable); // Prints "5" to the console
ageVariable = ageVariable + 1; // Sets the new value to the old value + 1
console.log(ageVariable); // Prints "6" to the console
ageVariable = ageVariable + 1; // Sets the new value to the old value + 1
console.log(ageVariable); // Prints "7" to the console
</code></pre>
{% endblock %}