{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: Python - Tuples{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>Tuples</h2>
    {% include 'python_app/tuples/includes/contents.html' %}
    {% include 'python_app/tuples/includes/tuples_in_python.html' %}
    {% include 'python_app/tuples/includes/creating_tuples.html' %}
    {% include 'python_app/tuples/includes/accessing_tuple_items.html' %}
    {% include 'python_app/tuples/includes/tuple_unpacking.html' %}
    {% include 'python_app/tuples/includes/nesting.html' %}
    {% include 'python_app/tuples/includes/tuple_methods.html' %}
{% endblock %}