{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Django-home-what-is-django{% endblock %}

<!--Section title-->
{% block text_title %}What Is Django?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Django is a full server-side framework written in python providing
        <dfn title="Built in tools for common web development tasks">batteries</dfn>
        and low-level automation that makes it easier to build a better web app with less code. The major advantages of 
        using Django include the administration interface where developers and administrators can add and edit the 
        back-end content and pre[built authentication functionalities allowing users to safely securely create user 
        profiles for your website.
    </p>
{% endblock %}