{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-conditional-statements-what-are-conditional-statements">What are Conditional Statements?</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-conditional-statements-ternary-conditionals">Ternary Conditionals</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-conditional-statements-comparison-operators">Comparison Operators</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-conditional-statements-switch">Switch</a>
    </li>
{% endblock %}
