{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-messages-what-are-django-messages">What are Django Messages?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-messages-enabling-messages">Enabling Messages</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-messages-including-messages-in-your-views">Including Messages in your Views</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-messages-messages-levels">Message Levels</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-messages-display-messages-in-your-templates">Display Messages in your Templates</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-messages-style-messages">Style Messages</a>
    </li>
{% endblock %}
