{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-website-development-after-writing-code{% endblock %}

<!--Section title-->
{% block text_title %}After Writing Code{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        When you have finished with your coding you should then do:
    </p>
    <ul>
        <li>Final Testing</li>
        <li>Accessibility and performance testing</li>
        <li>List some ideas for the future development of your website</li>
        <li>Get feedback from users and implement and improvements</li>
    </ul>
{% endblock %}