{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-website-development-before-writing-code{% endblock %}

<!--Section title-->
{% block text_title %}Before Writing Code{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Before sitting down in your IDE and writing your code you need a clear idea of what it is that you will be 
        creating. The general stages for this will be:
    </p>
    <ul>
        <li>
            <a 
                class="text-link"
                href=""
                title="Go to the web development project goals section"
                aria-label="Go to the web development project goals section"
            >
                Project Goals
            </a>
        </li>
        <li>
            <a 
                class="text-link"
                href=""
                title="Go to the web development user stories section"
                aria-label="Go to the web development user stories section"
            >
                User Stories
            </a>
        </li>
        <li>
            <a 
                class="text-link"
                href=""
                title="Go to the web development five stages of UI/UX section"
                aria-label="Go to the web development five stages of UI/UX section"
            >
                The Five Stages of UI/UX
            </a>
        </li>
        <li>
            <a 
                class="text-link"
                href=""
                title="Go to the web development features section"
                aria-label="Go to the web development features section"
            >
                Features   
            </a>
        </li>
    </ul>
{% endblock %}