{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-website-development-website-development">Website Development</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-website-development-before-writing-code">Before Writing Code</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-website-development-when-writing-code">When Writing Code</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-website-development-after-writing-code">After Writing Code</a>
    </li>
{% endblock %}
