{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-website-development-website-development{% endblock %}

<!--Section title-->
{% block text_title %}Website Development{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Developing a website involves multiple steps, many of which will inform later steps and you will find that many 
        later steps will inform earlier steps, causing you to go back and add or re-jig your earlier plans in order to 
        produce a product that is fit for service. We can split a lot of the tasks into three categories; before 
        writing code, whilst writing code and after writing code. 
    </p>
{% endblock %}