{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-website-development-when-writing-code{% endblock %}

<!--Section title-->
{% block text_title %}When Writing Code{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        When you are in the process of writing, you may encounter bugs or epiphanies that require you to go back and 
        add, expand or retract things from your development plan. On top of this you should keep in mind:
    </p>
    <ul>
        <li>Testing</li>
        <li>Accessibility and Performance</li>
    </ul>
{% endblock %}