{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: CSS - Lists{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>Lists</h2>

    {% include 'CSS/lists/includes/contents.html' %}
    {% include 'CSS/lists/includes/css_list_styles.html' %}
    {% include 'CSS/lists/includes/list_style_type.html' %}
    {% include 'CSS/lists/includes/list_style_image.html' %}
    {% include 'CSS/lists/includes/list_style_position.html' %}
    {% include 'CSS/lists/includes/list_style_shorthand.html' %}
{% endblock %}