{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: JavaScript - Arrays{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>JavaScript</h2>
    {% include 'javascript_app/arrays/includes/contents.html' %}
    {% include 'javascript_app/arrays/includes/what_are_arrays.html' %}
    {% include 'javascript_app/arrays/includes/creating_arrays.html' %}
    {% include 'javascript_app/arrays/includes/checking_for_arrays.html' %}
    {% include 'javascript_app/arrays/includes/accessing_and_modifying_elements.html' %}
    {% include 'javascript_app/arrays/includes/iterating_through_arrays.html' %}
    {% include 'javascript_app/arrays/includes/nested_arrays.html' %}
    {% include 'javascript_app/arrays/includes/spread_operator.html' %}
    {% include 'javascript_app/arrays/includes/rest_operator.html' %}
    {% include 'javascript_app/arrays/includes/destructuring_assignment.html' %}
    {% include 'javascript_app/arrays/includes/array_methods.html' %}

{% endblock %}