{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-variables-what-are-variables">What are Variables?</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-variables-naming-variables">Naming Variables</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-variables-declaring-variables">Declaring Variables</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-variables-overwriting-variables">Overwriting Variables</a>
    </li>
{% endblock %}
