{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-variables-what-are-variables{% endblock %}

<!--Section title-->
{% block text_title %}What are Variables?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Variables in JavaScript are named containers that you assign things to. Think of them as boxes you put specific 
        components inside. This means that every time you want to access a specific thing, instead of doing the 
        possibly multi-line code, you can just recall the variable name that you assigned it to.
    </p>
{% endblock %}