{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-cursor-cursor-customisation{% endblock %}

<!--Section title-->
{% block text_title %}Cursor Customisation{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The cursor can take many forms with some having ingrained meaning, such as the pointer for showing that 
        something is clickable. Hover over the following boxes to see how they look. I used the 
        <a class="text-link" href="{% url 'CSS_selectors' %}#CSS-selectors-pseudo-classes" aria-label="Got to the CSS pseudo class section">pseudo class</a>
        of
        <code class="written-code">:hover</code>
        to make the mouse cursor change here.
    </p>
    {% include 'CSS/cursor/includes/code_snippets/cursor_hover.html' %}
    <div id="hover-container" class="row">
        <div id="default-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: default;</code><br>
                This shows the default cursor and is (obviously) set by default.
            </p>
        </div>
        <div id="pointer-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: pointer;</code><br>
                This shows the pointer cursor that we associate with being able to click on something. Use this to 
                highlight that something on your website is click-able.                
            </p>
        </div>
        <div id="text-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: text;</code><br>
                Shows the text-selector icon known as the <dfn title="Because it looks like a capital I">I-beam</dfn>.
                Use this for text areas, especially those that the user can edit.
            </p>
        </div>
        <div id="move-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: move;</code><br>
                A 4 arrow icon that we associate with being able to move an object. Use this for items in a click and 
                drop interface or for moving a map. 
            </p>
        </div>
        <div id="grab-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: grab;</code><br>
                An open hand icon we associate with being able to grab an object. Use this for items in a click and 
                drop interface or for moving a map.
            </p>
        </div>
        <div id="grabbing-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: grabbing;</code><br>
                A closed hand icon we associate with being in the process of grabbing something. Use this wherever you 
                actively use the grab cursor.
            </p>
        </div>
        <div id="crosshair-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: crosshair;</code><br>
                Used in precise tools such as image editors or CAD programs.
            </p>
        </div>
        <div id="not-allowed-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: not-allowed;</code><br>
                A rarely used cursor to show that something is, well, not allowed.Use it for things that the user does 
                not have access to.
            </p>
        </div>
        <div id="wait-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: wait;</code><br>
                A spinning circle or hourglass. Use this when submitting a form during the back end validation.
            </p>
        </div>
        <div id="help-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: help;</code><br>
                A question mark cursor. You will have noticed that I use this when hovering over defined items. Also 
                use this for tool tips.
            </p>
        </div>
        <div id="progress-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: progress;</code><br>
                An arrow with a spinner. Use this when submitting a form during the back end validation.
            </p>
        </div>
        <div id="none-hover" class="cursor-hover col-12 col-lg-6">
            <p>
                <code class="written-code">cursor: none;</code><br>
                Hides the cursor completely. Use this for anything that requires immersivity such as a full screen 
                video or a game.
            </p>
        </div>
    </div>



{% endblock %}