{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-forms-css-forms-and-pseudo-classes">CSS Forms and Pseudo Classes</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-forms-pseudo-classes-for-form-elements">Pseudo Classes for Form Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-forms-combining-pseudo-classes-with-other-css-selectors">Combining Pseudo Classes With Other CSS Selectors</a>
    </li>
{% endblock %}
