{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-forms-css-forms-and-pseudo-classes{% endblock %}

<!--Section title-->
{% block text_title %}CSS Forms and Pseudo Classes{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        CSS provides powerful styling options for form elements, enhancing the user experience while making forms 
        easier to use and visually appealing. Pseudo-classes are a particularly useful tool in form styling, as they 
        allow developers to target specific states of form elements, such as when they are disabled, checked, or valid. 
    </p>
{% endblock %}