{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}examples-examples-code-snippets-copy-text-to-clipboard-js{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="JavaScript">// ------------------------ Copy email -----------------------
document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".copy").addEventListener("click", function () {
        const variableName = "Text to copy";
        navigator.clipboard.writeText(variableName)
    });
});
</code></pre>
{% endblock %}