{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}examples-examples-code-snippets-photo-gallery-html{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="HTML">&lt;!--Image gallery--&gt;
&lt;main class="content-gallery"&gt;
    &lt;div class="gallery-container"&gt;
        &lt;div&gt;
            &lt;h2 class="gallery-title"&gt;My Photo Gallery&lt;/h2&gt;
            &lt;div class="container"&gt;
                &lt;div class="row"&gt;
                    &lt;!-- Gallery item 1 --&gt;
                    &lt;div class="gallery-grid col-6 col-md-4 col-lg-3"&gt;
                        &lt;img
                            src="images/photo1.jpg"
                            class="img-fluid thumbnail"
                            data-bs-toggle="modal"
                            data-bs-target="#galleryModal"
                            data-bs-slide-to="0"
                            style="cursor:pointer;"
                            alt="Photo 1 description"
                        &gt;
                    &lt;/div&gt;

                    &lt;!-- Gallery item 2 --&gt;
                    &lt;div class="gallery-grid col-6 col-md-4 col-lg-3"&gt;
                        &lt;img
                            src="images/photo2.jpg"
                            class="img-fluid thumbnail"
                            data-bs-toggle="modal"
                            data-bs-target="#galleryModal"
                            data-bs-slide-to="1"
                            style="cursor:pointer;"
                            alt="Photo 2 description"
                        &gt;
                    &lt;/div&gt;
                    
                    &lt;!-- Add more gallery-grid divs here for additional images --&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/main&gt;

&lt;!--Image Modal--&gt;
&lt;div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true"&gt;
    &lt;div class="modal-dialog modal-dialog-centered modal-xl"&gt;
        &lt;div class="modal-content bg-dark"&gt;
            &lt;div class="modal-body p-0"&gt;
                &lt;div id="carouselGallery" class="carousel slide" data-bs-ride="false" data-bs-interval="false"&gt;
                    &lt;div class="carousel-inner"&gt;
                        &lt;!-- Carousel item 1 --&gt;
                        &lt;div class="carousel-item active"&gt;
                            &lt;img 
                                src="images/photo1.jpg"
                                class="d-block w-100" 
                                alt="Photo 1 description"
                            &gt;
                        &lt;/div&gt;

                        &lt;!-- Carousel item 2 --&gt;
                        &lt;div class="carousel-item"&gt;
                            &lt;img 
                                src="images/photo2.jpg"
                                class="d-block w-100" 
                                alt="Photo 2 description"
                            &gt;
                        &lt;/div&gt;

                        &lt;!-- Add more carousel-item divs here for additional images --&gt;
                    &lt;/div&gt;

                    &lt;!-- Carousel controls --&gt;
                    &lt;button class="carousel-control-prev" type="button" data-bs-target="#carouselGallery" data-bs-slide="prev"&gt;
                        &lt;span class="carousel-control-prev-icon"&gt;&lt;/span&gt;
                        &lt;span class="visually-hidden"&gt;Previous&lt;/span&gt;
                    &lt;/button&gt;
                    &lt;button class="carousel-control-next" type="button" data-bs-target="#carouselGallery" data-bs-slide="next"&gt;
                        &lt;span class="carousel-control-next-icon"&gt;&lt;/span&gt;
                        &lt;span class="visually-hidden"&gt;Next&lt;/span&gt;
                    &lt;/button&gt;

                    &lt;!-- Close button --&gt;
                    &lt;button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"&gt;&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
{% endblock %}