{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-pandas-what-is-pandas">What is Pandas?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-loading-data">Loading Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-exploring-the-data">Exploring the Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-accessing-data">Accessing Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-filtering-and-sorting">Filtering and Sorting</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-creating-and-editing-columns">Creating and Editing Columns</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-saving-data">Saving Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-resetting-index">Resetting Index</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-filtering-by-strings">Filtering by Strings</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-updating-values">Updating Values</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-grouping-data">Grouping Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-pandas-tips">Tips</a>
    </li>
{% endblock %}
