{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Python-pandas-exploring-the-data{% endblock %}

<!--Section title-->
{% block text_title %}Exploring the Data{% endblock %}

<!--Section content-->
{% block text_content %}

    {% include 'python_app/pandas/includes/code_snippets/exploring_data.html' %}
    <p>
        To rename the columns:
    </p>
    {% include 'python_app/pandas/includes/code_snippets/rename_columns.html' %}
   
{% endblock %}