{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-1">Step 1: Set Up Your Workspace</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-2">Step 2: Get Google Sheets API Credentials</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-3">Step 3: Keep Credentials Private</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-4">Step 4: Install Required Libraries</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-5">Step 5: Set Up Your Python File</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-6">Step 6: Get and Validate User Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-7">Step 7: Update the Worksheet</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-google-sheets-program-step-8">Step 8: Tidying Up with a Main Function</a>
    </li>

{% endblock %}
