{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-home-colours{% endblock %}

<!--Section title-->
{% block text_title %}Colours{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Colours can be assigned as values to many different CSS declarations and take the values outlined in our 
        <a class="text-link" href="#" aria-label="Go to the colour theory section">colour theory</a>
        section. These range from the colour of your text or background colours to border colours or shadows around 
        boxes. Another keyword value that can be taken is transparent to make something transparent.
    </p>
{% endblock %}