{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-home-introduction">Introduction to CSS</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-home-css-syntax">CSS Syntax</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-home-including-css-in-html">Including CSS in HTML</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-home-linking-multiple-css-files">Linking Multiple CSS Files</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-home-css-comments">CSS Comments</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-home-specificity">Specificity</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-home-colours">Colours</a>
    </li>
{% endblock %}
