{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-objects-comparing-objects{% endblock %}

<!--Section title-->
{% block text_title %}Comparing Objects{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        To compare objects, you can use ===. It checks that two things refer to the same object in the memory. 
    </p>
    {% include 'javascript_app/objects/includes/code_snippets/compare.html' %}
{% endblock %}