{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-objects-what-are-objects">What are Objects?</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-creating-an-object">Creating an Object</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-constructor-functions">Constructor Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-factory-functions">Factory Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-comparing-objects">Comparing Objects</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-nested-objects-and-arrays">Nested Objects and Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-object-methods">Object Methods</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-looping">Looping</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-getters-and-setters">Getters and Setters</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-objects-best-practice">Best Practice</a>
    </li>
    
{% endblock %}
