{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}JavaScript-objects-nested-objects-and-arrays{% endblock %}

<!--Section title-->
{% block text_title %}Nested Objects and Arrays{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        As the value in the key: value pairs can be mostly anything, this can include another object or arrays. In the 
        case of nested object, this would take the form of 
        <code class="written-code">objectName : {object}</code>
        in the parent object. To access the keys: values of the nested object, use dot notation.
    </p>
    {% include 'javascript_app/objects/includes/code_snippets/access_nested_keys.html' %}
    <p>
        In the case of a nested array, this would take the form of 
        <code class="written-code">arrayName : [array]</code>
        in the parent object. To access this the indices of this use:
    </p>
    {% include 'javascript_app/objects/includes/code_snippets/access_nested_indicies.html' %}
    <p>
        If an object is nested in an array, you can access the key: value pairs using:
    </p>
    {% include 'javascript_app/objects/includes/code_snippets/nested_in_an_array.html' %}
{% endblock %}