{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-views-what-do-views-handle">What do Views Handle?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-views-imports">Imports</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-views-functions">Functions</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-views-functions-template-rendering">Template Rendering</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-views-functions-returning-context-to-templates">Returning Context to Templates</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-views-functions-returning-plain-text">Returning Plain Text</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-views-functions-redirecting-users">Redirecting Users</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-views-functions-after-a-successful-form-submission">After a Successful Form Submission</a>  
            </li>
        </ul>
    </li>
{% endblock %}
