{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-crud-code-snippets-update-view{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">from django.shortcuts import render, get_object_or_404, redirect
from .models import Item
from .forms import ItemForm

def edit_item(request, item_id):
    item = get_object_or_404(Item, id=item_id)
    
    if request.method == 'POST':
        form = ItemForm(request.POST, instance=item)
        if form.is_valid():
            form.save()
            return redirect('get_todo_list')  # Redirect to a list or detail view
    else:
        form = ItemForm(instance=item)

    context = {'form': form}
    return render(request, 'todo/edit_item.html', context)
</code></pre>
{% endblock %}