{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-functions-arrow-functions{% endblock %}

<!--Section title-->
{% block text_title %}Arrow Functions{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Arrow functions are a shorthand way of writing functions introduced in 
        <dfn title="ECMAScript 2015">ES6</dfn>.
        They remove the need to type the function keyword and often make your code cleaner and more concise. 
    </p>
    {% include 'javascript_app/functions/includes/code_snippets/arrow_1.html' %}
    <p>
        0, 1, and >1 parameter arrow functions have different requirements for parentheses around the parameters.
    </p>
    {% include 'javascript_app/functions/includes/code_snippets/arrow_2.html' %}
    <p>
        Arrow functions automatically return the value of a single expression without needing the return keyword or 
        curly braces.
    </p>
    {% include 'javascript_app/functions/includes/code_snippets/arrow_3.html' %}

{% endblock %}