{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#JavaScript-functions-functions-in-JavaScript">Functions in JavaScript</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-docstrings">Docstrings</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-defining-a-function">Defining a Function</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-arguments-and-parameters">Arguments and Parameters</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-return">Return</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-helper-functions">Helper Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-arrow-functions">Arrow Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-functions-arrays-and-functions">Arrays and Functions</a>
    </li>

{% endblock %}
