{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#JavaScript-sets-what-is-a-set">What is a Set?<a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-sets-creating-a-set">Creating a Set<a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-sets-characteristics-of-a-set">Characteristics of a Set<a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-sets-set-methods">Set Methods<a>
    </li>
{% endblock %}
