{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}python-functions-assigning-functions-to-variables{% endblock %}

<!--Section title-->
{% block text_title %}Assigning Functions to Variables{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        In Python, functions are first-class objects and can be assigned to variables.
    </p>
    {% include 'python_app/functions/includes/code_snippets/assign_1.html' %}
    <p>
        You can also assign built-in methods to variables.
    </p>
    {% include 'python_app/functions/includes/code_snippets/assign_2.html' %}

{% endblock %}