{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-functions-defining-and-calling-functions">Defining and Calling Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-functions-parameters-and-arguments">Parameters and Arguments</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-functions-docstrings">Docstrings</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-functions-returning-values">Returning Values</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-functions-assigning-functions-to-variables">Assigning Functions to Variables</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-functions-decorators">Decorators</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-functions-built-in-functions">Built-in Functions</a>
    </li>

{% endblock %}
