{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-search-code-snippets-indexer-helper-functions{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">def slugify(value: str) -&gt; str:
    """
    Converts a string into a slug suitable for use as an HTML element ID.
    Replaces all non-alphanumeric characters with hyphens, trims extras,
    and lowercases the result.
    """
    value = re.sub(r'[^a-zA-Z0-9]+', '-', value).strip('-')
    return value.lower()
</code></pre>
{% endblock %}