{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-search-code-snippets-indexer-imports{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python"># Provides functions to interact with the operating system
import os
# Allows manipulation of the Python runtime environment
import sys
# Required to set up Django settings.py can be accessed
import django
# Easier manipulation of filesystem paths
from pathlib import Path
</code></pre>
{% endblock %}