{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-strings-what-are-strings">What are Strings?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-strings-concatenation-and-formatting">Concatenation and Formatting</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-strings-accessing-and-slicing-strings">Accessing and Slicing Strings</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-strings-common-string-methods">Common String Methods</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Python-strings-common-string-methods-case-conversion">Case Conversion</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-strings-common-string-methods-searching-and-replacing">Searching and Replacing</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-strings-common-string-methods-trimming-and-padding">Trimming and Padding</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-strings-common-string-methods-splitting-and-joining">Splitting and Joining</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-strings-common-string-methods-validation-methods">Validation Methods</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-strings-common-string-methods-encoding-and-decoding">Encoding and Decoding</a>  
            </li>
        </ul>
    </li>
{% endblock %}
