{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#examples-examples-hero-image-carousel">Example 1: A Hero Image Carousel with Slightly Zooming Images</a>
    </li>
    <li class="page-contents-link">
        <a href="#examples-examples-photo-gallery">Example 2: Photo Gallery</a>
    </li>
    <li class="page-contents-link">
        <a href="#examples-examples-text-over-image">Example 3: Responsive Text Over Image</a>
    </li>
    <li class="page-contents-link">
        <a href="#examples-examples-google-maps">Example 4: Google Maps</a>
    </li>
    <li class="page-contents-link">
        <a href="#examples-examples-social-media-links">Example 5: Social Media Links</a>
    </li>
    <li class="page-contents-link">
        <a href="#examples-examples-two-images-with-a-slider">Example 6: Two Images With a Slider</a>
    </li>
    <li class="page-contents-link">
        <a href="#examples-examples-copy-text-to-clipboard">Example 7: Copy Text to Clipboard</a>
    </li>
{% endblock %}
