{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-planning">Planning</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-stage-1-strategy">Stage 1: Strategy</a>
        <ul>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-1-strategy-key-questions">Key Questions</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-1-strategy-viability-and-feasibility">Viability and Feasibility</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-stage-2-scope">Stage 2: Scope</a>
        <ul>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-2-scope-front-end">Front-end</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-2-scope-back-end">Back-end</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-stage-3-structure">Stage 3: Structure</a>
        <ul>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-3-structure-templates">Templates</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-3-structure-information-architecture">Information Architecture</a>  
            </li>
            <li class="page-contents-link">
                <a href="#intro-to-full-stack-five-stages-stage-3-structure-interactive-experience">Interactive Experience</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-stage-4-skeleton">Stage 4: Skeleton</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-stage-5-surface">Stage 5: Surface</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-five-stages-template">Template</a>
    </li>
{% endblock %}
