{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-five-stages-planning{% endblock %}

<!--Section title-->
{% block text_title %}Planning{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Before diving into coding, it's best to have a solid plan in place to keep your website's purpose clear, ensure 
        a well-thought-out layout, and helps you stay organized. This will help avoid confusion later. In this section, 
        I'll walk you through the 5 stages of 
        <dfn title="User Experience">UX</dfn>/<dfn title="User Interface">UI</dfn>
        design to streamline your website development journey and make the process a breeze, giving examples of how I 
        used each section to create the very website you are currently on. 
    </p>
    <p>
        These stages aren't set in stone. While they're designed to guide your ideas from concept to reality, there's 
        often some backtracking involved as new features or improvements emerge. When designing your website, don't 
        worry if you only have a few ideas early on. Just work through the stages, and you'll likely come across fresh 
        perspectives or better ways to bring your ideas to life along the way.
    </p>
{% endblock %}