{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-five-stages-template{% endblock %}

<!--Section title-->
{% block text_title %}Template{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        For a template of the five stages of UX/UI, have a look 
        <a 
            class="text-link"
            href=""
            title="Go to the totale readme.md template"
            aria-label="Go to the totale readme.md template"
        >
            here
        </a>
        at the template for the entire readme.md file.
    </p>
{% endblock %}