{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-programming-and-the-web-html-and-the-birth-of-the-world-wide-web{% endblock %}

<!--Section title-->
{% block text_title %}HTML and the birth of the world wide web{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        HTML, the 
        <dfn title="Text with links enabling navigation between documents or webpages.">Hypertext</dfn>
         Markup Language, revolutionized information sharing. Its roots trace back to the General Markup Language (GML), 
         developed in the 1960s to structure machine-readable documents. Later standardised as 
        <abbr title="Standardised General Markup Language.">SGML</abbr>, 
        it introduced headings, paragraphs, and tables—but lacked 
        <dfn title="Text with links enabling navigation between documents or webpages.">hypertext</dfn>.
    </p>
    <p>
        In the late 1980s, physicists at 
        <abbr title="European Organization for Nuclear Research">CERN</abbr> 
        needed a way to organize and share research. Tim Berners-Lee, a CERN researcher, proposed a system where 
        documents could be interconnected via clickable links rather than static downloads. This idea, inspired by 
        <dfn title="Text with links enabling navigation between documents or webpages.">hypertext</dfn>, 
        led him to develop HTTP 
        (<dfn title="Text with links enabling navigation between documents or webpages.">Hypertext</dfn>
         Transfer Protocol) and HTML, based on SGML but with added hyperlink capabilities.
    </p>
    <p>
        Berners-Lee also built the first web browser and web server, enabling researchers to access linked documents 
        across a global network. Encouraging others to expand on his ideas, HTML rapidly evolved, leading to the 
        explosive growth of the World Wide Web within just five years.
    </p>
{% endblock %}