.troubleshooting-box {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #FF8C00;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #EAEAEA;
}

body.night-mode .troubleshooting-box {
    border-color: #FF8800;
    background-color: #2A2A2A;
}

.troubleshooting-box h3 {
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
    color: #4D4D4C;
    text-align: center;
    margin-top: 0.5rem;
}

body.night-mode .troubleshooting-box h3 {
    color: #D4D4D4;
}

.troubleshooting-box .fa-lightbulb {
    color: #FFD700;
    margin-right: 0.5rem;
}

body.night-mode .troubleshooting-box .fa-lightbulb {
    color: #FFDD44;
}

.troubleshooting-box ul {
    color: #333333;
    font-family: 'Roboto', Arial, sans-serif;
    list-style: square;
}

body.night-mode .troubleshooting-box ul {
    color: #BBBBBB;
}