{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}python-data-types-operators{% endblock %}

<!--Section title-->
{% block text_title %}Operators{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        When undergoing mathematical equations, the following operators can be used.
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Operator
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="written-code">
                        **
                    </code>
                </td>
                <td>
                    Exponent.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        //
                    </code>
                </td>
                <td>
                    Floor division.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        %
                    </code>
                </td>
                <td>
                    Modulo.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        +=
                    </code>
                </td>
                <td>
                    Update a variable by adding a certain value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        -=
                    </code>
                </td>
                <td>
                    Update a variable by subtraction of a value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        *=
                    </code>
                </td>
                <td>
                    Update a variable by multiplication of a value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        /=
                    </code>
                </td>
                <td>
                    Update a variable by division of a value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        **=
                    </code>
                </td>
                <td>
                    Update a variable by exponent of a value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        %=
                    </code>
                </td>
                <td>
                    Update a variable by modulo of a value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        //=
                    </code>
                </td>
                <td>
                    Update a variable by floor of a value.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        ==
                    </code>
                </td>
                <td>
                    Equals.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        !=
                    </code>
                </td>
                <td>
                    Not equal to.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        &gt;
                    </code>,
                    <code class="written-code">
                        &gt;=
                    </code>
                </td>
                <td>
                    Greater than, greater than or equal.
                </td>
            </tr>
            <tr>
                <td>
                    <code class="written-code">
                        &lt;
                    </code>,
                    <code class="written-code">
                        &lt;=
                    </code>
                </td>
                <td>
                    Less than, less than or equal.
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}