{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-what-to-test">What to Test</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-manual-testing">Manual Testing</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-device-and-browser-testing">Device and Browser Testing</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-automated-testing">Automated Testing</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-accessibility-testing">Accessibility Testing</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-performance-testing">Performance Testing</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-testing-bugs">Bugs</a>
    </li>
{% endblock %}
