{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-testing-performance-testing{% endblock %}

<!--Section title-->
{% block text_title %}Performance Testing{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        <a 
            class="text-link"
            href=""
            title="Go to the Google Dev Tools"
            aria-label="Go to the Google Dev Tools"
        >
            Google Dev Tools
        </a>
        can be used to do the performance testing of your website.
    </p>
{% endblock %}