{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-features-what-are-features{% endblock %}

<!--Section title-->
{% block text_title %}What are Features?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Features in your website or app are sections that provide some sort of purpose. This can be quite vague but it 
        essentially boils down to anything you included for a reason that meet some of your proposed criteria. This can 
        range from a complex form allowing the user to submit data or query a database, to a logo that conveys your 
        brand, to simple hover effects indicating functionality or even just a section of text that informs the user 
        of something.
    </p>
{% endblock %}