{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-scope-scope-in-Python">Scope in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-scope-global-scope">Global Scope</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-scope-local-scope">Local Scope</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-scope-enclosing-scope">Enclosing Scope</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-scope-using-nonlocal-to-modify-enclosing-variables">Using Nonlocal to Modify Enclosing Variables</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-scope-example-all-in-one">Example: All in One</a>
    </li>
{% endblock %}
