{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-booleans-booleans-in-python">Booleans in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-booleans-boolean-operators">Boolean Operators</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-booleans-identity-operators">Identity Operators</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-booleans-membership-operators">Membership Operators</a>
    </li>
{% endblock %}
