{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-for-loops-how-for-loops-work{% endblock %}

<!--Section title-->
{% block text_title %}How For Loops Work{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Loops let you repeat a block of code multiple times and for loop is one of the most commonly used types of loop 
        in JavaScript. They follow three key parts; the initialising expression, condition, and incrementing expression 
        separated by semi colons within parentheses after the keyword for.
    </p>
    {% include 'javascript_app/for_loops/includes/code_snippets/how_1.html' %}
    <ul>
        <li>initialisingExpression: runs once at the beginning (e.g., let i = 0)</li>
        <li>condition: evaluated before each loop; if true, the loop runs</li>
        <li>code block: runs if the condition is true</li>
        <li>incrementingExpression: runs after the code block each time</li>
        <li>Repeats until the condition is false</li>
        <li>Then the program moves on to any code outside the loop</li>
    </ul>
    <li>
        The initialising expression creates a temporary variable that acts as a counter for the loop. The condition 
        keeps the loop working until it is met and the incrementing expression tells the loop how to increase the 
        initialising expression each time. For example this would log the numbers from 1 to 10 (remember ++ means +1 
        each time).
    </li>
    {% include 'javascript_app/for_loops/includes/code_snippets/how_2.html' %}

{% endblock %}