{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-models-using-modelspy">Using models.py</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-models-setting-up-modelspy">Setting up models.py</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-models-common-field-types">Common Field Types</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-models-run-migrations">Run Migrations</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-models-register-models-in-the-admin-panel">Register Models in the Admin Panel</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-models-accessing-data-in-viewspy">Accessing Data in views.py</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-basic-queries">Basic Queries</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-filtering-and-lookups">Filtering and Lookups</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-complex-queries">Complex Queries</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-calculations">Calculations</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-creating-and-updating">Creating and Updating</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-deleting">Deleting</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-models-accessing-data-in-viewspy-ordering-and-slicing">Ordering and Slicing</a>  
            </li>
        </ul>
    </li>
{% endblock %}
