{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Python-functions-code-snippets-return{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python"># Return one value
def square(x):
    return x * x

# Return multiple values
def stats(numbers):
    total = sum(numbers)
    count = len(numbers)
    return total, count

# Assigning the returned values:
total, count = stats([1, 2, 3])
</code></pre>
{% endblock %}