{% extends 'includes/html_js_example.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_file_id %}code-example-javascript-targeting-the-dom-window-inner{% endblock %}

<!--HTML-->
{% block html_code_example_content %}
<pre><code class="html">&lt;button id="window-inner-example-button-id" class="site-button"&gt;
    Press here to show the window inner heights and width.
&lt;/button&gt;
&lt;div&gt;
    &lt;p>The window inner width is:&lt;span id="window-inner-width-result-id"&gt;&lt;/span&gt;.&lt;/p&gt;&lt;br&gt;
    &lt;p>The window inner height is:&lt;span id="window-inner-height-result-id"&gt;&lt;/span&gt;.&lt;/p&gt;
&lt;/div&gt;
</code></pre>
{% endblock %}

<!--JS content-->
{% block js_code_example_content %}
<pre><code clas="javascript">// Check that the document has loaded first
document.addEventListener('DOMContentLoaded', function () {
    // Get the button as a variable by targeting the ID
    const exampleButton = document.getElementById('window-inner-example-button-id');
    // Add an event listener to the button to check for a click
    exampleButton.addEventListener('click', function() {
        // Add a function
        // Get the result spans
        let innerWidthResultSpan = document.getElementById('window-inner-width-result-id');
        let innerHeightResultSpan = document.getElementById('window-inner-height-result-id');
        // Get the height and width
        const innerWindowWidth = window.innerWidth;
        const innerWindowHeight = window.innerHeight;
        // Set the contents of the result spans to the height and width results
        innerWidthResultSpan.innerHTML = innerWindowWidth;
        innerHeightResultSpan.innerHTML = innerWindowHeight;
    })
});
</code></pre>
{% endblock %}

<!--Example result-->
{% block html_js_code_result_content %}
    <button id="window-inner-example-button-id" class="site-button">
        Press here to show the window inner heights and width.
    </button>
    <div>
        <p>The window inner width is: <span id="window-inner-width-result-id">?</span> pixels.</p><br>
        <p>The window inner height is: <span id="window-inner-height-result-id">?</span> pixels.</p>
    </div>
{% endblock %}

<!--Function JS-->
{% block extra_js %}
    <script>
        // Check that the document has loaded first
        document.addEventListener('DOMContentLoaded', function () {
            // Get the button as a variable by targeting the ID
            const exampleButton = document.getElementById('window-inner-example-button-id');
            // Add an event listener to the button to check for a click
            exampleButton.addEventListener('click', function() {
                // Add a function
                // Get the result spans
                let innerWidthResultSpan = document.getElementById('window-inner-width-result-id');
                let innerHeightResultSpan = document.getElementById('window-inner-height-result-id');
                // Get the height and width
                const innerWindowWidth = window.innerWidth;
                const innerWindowHeight = window.innerHeight;
                // Set the contents of the result spans to the height and width results
                innerWidthResultSpan.innerHTML = innerWindowWidth;
                innerHeightResultSpan.innerHTML = innerWindowHeight;
            })
        });
    </script>
{% endblock %}