{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-os-working-with-os">Working with OS</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-os-importing-the-os-module">Importing the OS Module</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-os-key-uses-of-os">Key Uses of OS</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-os-the-sys-module">The SYS Module</a>
    </li>

{% endblock %}
