{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-static-creating-folders">Creating Folders</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-static-updating-settingspy">Updating settings.py</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-static-external-hosting-of-images-and-static-files">External Hosting of Images and Static Files</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-static-external-hosting-of-images-and-static-files-imgur">Imgur</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-static-external-hosting-of-images-and-static-files-cloudinary">Cloudinary</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-static-external-hosting-of-images-and-static-files-whitenoise">Whitenoise</a>  
            </li>
        </ul>
    </li>
{% endblock %}
