{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Django-static-updating-settingspy{% endblock %}

<!--Section title-->
{% block text_title %}Updating settings.py{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        To ensure that Django can find your CSS, JS, and media files, you will need to make sure that the paths are 
        defined in settings.py correctly. This can be done under the Static files section.
    </p>

    {% include 'django_app/static/includes/code_snippets/update_settings.html' %}

    <p>
        Now when you link your CSS files at the top of your HTML files you can use the &#123;% static %&#125; 
        templating function that will utilise the STATIC_URL in your settings.py file.
    </p>

    {% include 'django_app/static/includes/code_snippets/link_static.html' %}

    <p>
        To link your media files to your pages during development you will need to add the 
        <code class="written-code">static()</code>
        function to the end of your urlpatterns in the project level urls.py file. This specifically handles uploaded 
        files during development (DEBUG = True). It tells Django's built-in development server where to look for files 
        requested under /media/.
    </p>
    {% include 'django_app/static/includes/code_snippets/media_urls.html' %}
{% endblock %}