{% load static %}

{% block extra_css %}
    <!--Code file css file-->
    <link rel="stylesheet" href="{% static 'css/code_file.css' %}">
{% endblock extra_css %}

{% block extra_js %}
    <!-- Highlight.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
{% endblock %}

<!--ID cannot be blank so include ID's for every codeblock-->
<section id="{% block code_file_id %}{% endblock %}" class="code-file-container">
    <header class="code-file-header">
        <p>{% block code_snippet_file_name %}{% endblock %}</p>
    </header>
    <div class="code-snippet-content">
        {% block code_snippet_content %}
        {% endblock %}
    </div>
</section>