{% load static %}

{% block extra_css %}
    <!--Code file css file-->
    <link rel="stylesheet" href="{% static 'css/html_css_example.css' %}">
{% endblock extra_css %}

{% block extra_js %}
{% endblock %}

<!--ID cannot be blank so include ID's for every codeblock-->
<div id="{% block code_file_id %}{% endblock %}">
    <div class="html-css-code-example-container row d-flex align-items-stretch">
        <!--Result-->
        <div class="html-css-result-example col-12">
            <header class="html-css-result-example-header">
                <p>Result</p>
            </header>
            <div class="html-css-code-result-content">
                {% block html_css_code_result_content %}
                {% endblock %}
            </div>
        </div>
        <!--HTML-->
        <div class="html-code-example col-12 col-lg-6">
            <header class="html-code-example-header">
                <p>HTML</p>
            </header>
            <div class="html-code-example-content">
                {% block html_code_example_content %}
                {% endblock %}
            </div>
        </div>
        <!--CSS-->
        <div class="css-code-example col-12 col-lg-6">
            <header class="css-code-example-header">
                <p>CSS</p>
            </header>
            <div class="css-code-example-content">
                {% block css_code_example_content %}
                {% endblock %}
            </div>
        </div>

    </div>
</div>