{% load static %}

{% block extra_css %}
    <!--Navigation css file-->
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock extra_css %}

<nav id="site-navigation" class="col-lg-2 d-none d-lg-block vh-100">
    <div class="p-3">
        <!--Navigation title-->
        <h4 class="text-center">Navigation</h4>
        <!--Navigation links-->
        <ul class="nav flex-column">
            <!--Homepage-->
            <li class="nav-item">
                <!--
                    Check the current page and add active class to it
                    {percent if request.resolver_match.url_name == 'HTML_home' percent}active{percent endif percent}
                -->
                <a class="nav-link {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}" href="{% url 'homepage' %}">Home</a>
            </li>
            <!--Intro to Fullstack-->
            <li class="nav-item">
                <span class="d-flex align-items-center">
                    <a class="nav-link" href="{% url 'full_stack_programming_and_the_web' %}">Web Development</a>
                    <button class="btn btn-sm dropdown-toggle navigation-drop-down" type="button" data-bs-toggle="collapse" data-bs-target="#full-stack-submenu" aria-expanded="false" aria-controls="full-stack-submenu" aria-label="Open the full stack dropdown section">
                    </button>
                </span>
                <!--
                    Checking the current page to keep dropdown open
                    percent if '/intro_to_full_stack' in request.path percent}show{percent endif percent}
                -->
                <ul class="collapse list-unstyled ps-3 {% if '/intro_to_full_stack' in request.path %}show{% endif %}" id="full-stack-submenu">
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'full_stack_programming_and_the_web' %}active{% endif %}" href="{% url 'full_stack_programming_and_the_web' %}">Programming and the Web</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'full_stack_github' %}active{% endif %}" href="{% url 'full_stack_github' %}">GitHub</a></li>

                </ul>
            </li>
            <!--HTML-->
            <li class="nav-item">
                <span class="d-flex align-items-center">
                    <a class="nav-link" href="{% url 'HTML_home' %}">HTML</a>
                    <button class="btn btn-sm dropdown-toggle navigation-drop-down" type="button" data-bs-toggle="collapse" data-bs-target="#html-submenu" aria-expanded="false" aria-controls="html-submenu" aria-label="Open the HTML dropdown section">
                    </button>
                </span>
                <!--
                    Checking the current page to keep dropdown open
                    percent if '/HTML' in request.path percent}show{percent endif percent}
                -->
                <ul class="collapse list-unstyled ps-3 {% if '/HTML' in request.path %}show{% endif %}" id="html-submenu">
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_home' %}active{% endif %}" href="{% url 'HTML_home' %}">HTML Home</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_introducing_elements' %}active{% endif %}" href="{% url 'HTML_introducing_elements' %}">Introducing Elements</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_common_elements' %}active{% endif %}" href="{% url 'HTML_common_elements' %}">Common Elements</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_lists' %}active{% endif %}" href="{% url 'HTML_lists' %}">Lists</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_tables' %}active{% endif %}" href="{% url 'HTML_tables' %}">Tables</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_forms' %}active{% endif %}" href="{% url 'HTML_forms' %}">Forms</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_links' %}active{% endif %}" href="{% url 'HTML_links' %}">Links</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_media' %}active{% endif %}" href="{% url 'HTML_media' %}">Media</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_buttons' %}active{% endif %}" href="{% url 'HTML_buttons' %}">Buttons</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_semantic' %}active{% endif %}" href="{% url 'HTML_semantic' %}">Semantic HTML</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_accessibility' %}active{% endif %}" href="{% url 'HTML_accessibility' %}">Accessibility and Validation</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'HTML_example' %}active{% endif %}" href="{% url 'HTML_example' %}">Example HTML File</a></li>
                </ul>
            </li>
            <!--CSS-->
            <li class="nav-item">
                <span class="d-flex align-items-center">
                    <a class="nav-link" href="{% url 'CSS_home' %}">CSS</a>
                    <button class="btn btn-sm dropdown-toggle navigation-drop-down" type="button" data-bs-toggle="collapse" data-bs-target="#css-submenu" aria-expanded="false" aria-controls="css-submenu" aria-label="Open the CSS dropdown section">
                    </button>
                </span>
                <ul class="collapse list-unstyled ps-3 {% if '/CSS' in request.path %}show{% endif %}" id="css-submenu">
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_home' %}active{% endif %}" href="{% url 'CSS_home' %}">CSS Home</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_selectors' %}active{% endif %}" href="{% url 'CSS_selectors' %}">Selectors</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_box_model' %}active{% endif %}" href="{% url 'CSS_box_model' %}">CSS Box Model</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_display_and_positioning' %}active{% endif %}" href="{% url 'CSS_display_and_positioning' %}">Display and Positioning</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_flexbox' %}active{% endif %}" href="{% url 'CSS_flexbox' %}">Flexbox</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_grids' %}active{% endif %}" href="{% url 'CSS_grids' %}">Grids</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_backgrounds' %}active{% endif %}" href="{% url 'CSS_backgrounds' %}">Backgrounds</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_visibility_and_z_positioning' %}active{% endif %}" href="{% url 'CSS_visibility_and_z_positioning' %}">Visibility and Z-Positioning</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_cursor' %}active{% endif %}" href="{% url 'CSS_cursor' %}">Cursor</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_typography' %}">Typography</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_links_and_buttons' %}">Links and Buttons</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_lists' %}">Lists</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_forms' %}">Forms</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_transitions' %}">Transitions</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_responsive_design' %}">Responsive Design</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_bootstrap' %}">Bootstrap</a></li>
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'CSS_typography' %}active{% endif %}" href="{% url 'CSS_css_validation' %}">CSS Validation</a></li>
                </ul>
            </li>
            <!--JavaScript-->
            <li class="nav-item">
                <span class="d-flex align-items-center">
                    <a class="nav-link" href="{% url 'JavaScript_home' %}">JavaScript</a>
                    <button class="btn btn-sm dropdown-toggle navigation-drop-down" type="button" data-bs-toggle="collapse" data-bs-target="#javascript-submenu" aria-expanded="false" aria-controls="javascript-submenu" aria-label="Open the JavaScript dropdown section">
                    </button>
                </span>
                <ul class="collapse list-unstyled ps-3 {% if '/JavaScript' in request.path %}show{% endif %}" id="javascript-submenu">
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'JavaScript_home' %}active{% endif %}" href="{% url 'JavaScript_home' %}">JavaScript Home</a></li>
                </ul>
            </li>
            <!--Dropdown link example-->
            <li class="nav-item">
                <span class="d-flex align-items-center">
                    <a class="nav-link" href="#">Dropdown example</a>
                    <button class="btn btn-sm dropdown-toggle navigation-drop-down" type="button" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false" aria-controls="submenu" aria-label="Open the Example dropdown section">
                    </button>
                </span>
                <ul class="collapse list-unstyled ps-3" id="submenu">
                    <li><a class="nav-link" href="#">Web Development</a></li>
                    <li><a class="nav-link" href="#">SEO Optimization</a></li>
                    <li><a class="nav-link" href="#">Marketing</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog very long entry into</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Toggle button for small screens -->
<button class="btn nav-menu-button d-lg-none m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-label="Open the Mobile Navigation Bar">
    ☰ Menu
</button>

<!-- Offcanvas (burger menu) for small screens -->
<nav class="offcanvas offcanvas-start offcanvas-navmenu" tabindex="-1" id="mobileSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Navigation</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close the Mobile Navigation Bar"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <span class="d-flex align-items-center">
                    <a class="nav-link" href="#">Dropdown example</a>
                    <button class="btn btn-sm dropdown-toggle navigation-drop-down" type="button" data-bs-toggle="collapse" data-bs-target="#submenu-mob" aria-expanded="false" aria-controls="submenu-mob" aria-label="Open the mobile example dropdown section">
                    </button>
                </span>
                <ul class="collapse list-unstyled ps-3" id="submenu-mob">
                    <li><a class="nav-link" href="#">Web Development</a></li>
                    <li><a class="nav-link" href="#">SEO Optimization</a></li>
                    <li><a class="nav-link" href="#">Marketing</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog very long entry into Technologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>