{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-data-and-api-requests-common-file-formats">Common File Formats</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-data-and-api-requests-reading-data-from-files">Reading Data from Files</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-data-and-api-requests-working-with-apis-using-requests">Working with APIs using Requests</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-data-and-api-requests-data-collection">Data Collection</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-data-and-api-requests-google-sheets-as-a-data-source">Google Sheets as a Data Source</a>
    </li>

{% endblock %}
