{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-code-validation-code-validation">Code Validation</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-code-validation-flake8">Flake8</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-code-validation-black">Black</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-code-validation-isort">isort</a>
    </li>
{% endblock %}
