{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#deployment-home-github-pages">GitHub Pages</a>
    </li>
    <li class="page-contents-link">
        <a href="#deployment-home-heroku">Heroku</a>
        <ul>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-useful-documentation">Useful Documentation</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-dynos">Dynos</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-create-a-new-app">Create a New App</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-the-heroku-cli">The Heroku CLI</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-preparing-your-django-project">Preparing Your Django Project</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-preparing-your-django-project-installs">Preparing Your Django Project: Installs</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-preparing-your-django-project-files">Preparing Your Django Project: Files</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-preparing-your-django-project-settingspy">Preparing Your Django Project: settings.py</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-config-vars">Config Vars</a>  
            </li>
            <li class="page-contents-link">
                <a href="#deployment-home-heroku-deploy-through-github">Deploy Through GitHub</a>  
            </li>
        </ul>
    </li>
{% endblock %}
