{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-pillow-how-to-work-with-pillow">How to Work with Pillow</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-opening-and-viewing-images">Opening and Viewing Images</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-getting-image-info">Getting Image Info</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-editing-images">Editing Images</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-changing-colour-modes">Changing Colour Modes</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-drawing-on-images">Drawing on Images</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-saving-images">Saving Images</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-working-with-pixels">Working with Pixels</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-common-modes">Common Modes</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-pillow-example">Example</a>
    </li>

{% endblock %}
