{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-targeting-the-dom-targeting-parts-of-the-window">Targeting Parts of the Window</a>
        <ul>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-window-pop-ups">Pop-ups</a>  
            </li>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-window-window-dimensions">Window Dimensions</a>  
            </li>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-window-url-and-navigation">URL and Navigation</a>  
            </li>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-window-data-storage">Data Storage</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-targeting-the-dom-targeting-parts-of-the-document">Targeting Parts of the Document</a>
        <ul>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-document-getting-elements-of-the-document">Getting Elements of the Document</a>
            </li>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-document-aspects-of-the-elements">Aspects of the Elements</a>
            </li>
            <li class="page-contents-link">
                <a href="#javascript-targeting-the-dom-targeting-parts-of-the-document-parents-and-children">Parents and Children</a>
            </li>
        </ul>
    </li>
{% endblock %}
