{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}JavaScript-arrays-code-snippets-array-methods-filter{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="javascript">// Syntax: const newArray = oldArray.filter(arrow function => conditional);
// Example for filtering by names starting with m
const newArray = names.filter(name =&gt; name.charAt[0] === "m");
</code></pre>
{% endblock %}