{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-templating-language-what-is-it">What is it?</a>
    </li>

    <li class="page-contents-link">
        <a href="#Django-templating-language-syntax">Syntax</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-templating-language-syntax-variables">Variables</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-templating-language-syntax-for-loops">For Loops</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-templating-language-syntax-if-statements">If Statements</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-templating-language-syntax-filters">Filters</a>  
            </li>
        </ul>
    </li>
{% endblock %}
