{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-numpy-what-is-numpy">What is Numpy?</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-arrays-and-dimensions">Arrays and Dimensions</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-loading-data">Loading Data</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-initialising-arrays">Initialising Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-math-with-arrays">Math with Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-array-attributes-and-info">Array Attributes and Info</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-reshaping-and-stacking">Reshaping and Stacking</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-indexing-and-slicing">Indexing and Slicing</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-boolean-masking">Boolean Masking</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-numpy-binomial-distribution">Binomial Distribution</a>
    </li>

{% endblock %}
