{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}python-numpy-what-is-numpy{% endblock %}

<!--Section title-->
{% block text_title %}What is Numpy?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        NumPy is a powerful Python library for numerical computing. It allows you to create and manipulate arrays 
        efficiently and perform complex mathematical operations with ease. Set it up with:
    </p>
    <p>
        <code class="written-code">import numpy as np</code>
    </p>
{% endblock %}