{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-typography-typeface-vs-fonts">Typeface Vs Fonts</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-font-family">Font Family</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-google-fonts">Google Fonts</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-downloading-fonts">Downloading Fonts</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-color">Color</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-font-size">Font Size</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-font-weight">Font Weight</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-font-style">Font Style</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-text-align">Text Align</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-text-transform">Text Transform</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-spacing">Spacing</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-text-decoration">Text Decoration</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-typography-complete-example">Complete Example</a>
    </li>
{% endblock %}
