{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-typography-text-decoration{% endblock %}

<!--Section title-->
{% block text_title %}Text Decoration{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The 
        <code class="written-code">text-decoration</code>
        property defines how a line is added to the font, either above, through, or below. These values respectively 
        are 
        <code class="written-code">overline</code>,
        <code class="written-code">line-through</code>,
        <code class="written-code">underline</code>.
    </p>
    {% include 'CSS/typography/includes/code_snippets/text_decoration_1.html' %}
    <p>
        This can be further defined by the type of line with 
        <code class="written-code">text-decoration-style</code>
        (solid, wavy, or dashed), the colour with 
        <code class="written-code">text-decoration-color</code>,
        and thickness with 
        <code class="written-code">text-decoration-thickness</code>
        (best to use px here).
    </p>
    {% include 'CSS/typography/includes/code_snippets/text_decoration_2.html' %}
    {% include 'CSS/typography/includes/code_snippets/text_decoration_3.html' %}
    {% include 'CSS/typography/includes/code_snippets/text_decoration_4.html' %}
    <p>
        These can also be combined in shorthand into one text-decoration rule.
    </p>
    {% include 'CSS/typography/includes/code_snippets/text_decoration_5.html' %}
{% endblock %}