{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-typography-typeface-vs-fonts{% endblock %}

<!--Section title-->
{% block text_title %}Typeface Vs Fonts{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        One of the most obvious differences between different websites you go to and even sections within the website 
        can be the typeface. The difference between typeface and font, is that the typeface is the name of the “font” 
        you are using, such as arial or times new roman. Font refers to the combined characteristics of the typeface, 
        size of the letters, spacing between them, colour, and any decoration such as underlines or strikethroughs.
    </p>
{% endblock %}