{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-forms-code-snippets-create-modelform{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">from django import forms
# Import your model to make a form from
from .models import ModelName

class FormName(forms.ModelForm):
    class Meta:
        model = ModelName
        fields = ['model_field_1', ' model_field_2']
</code></pre>
{% endblock %}