{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-forms-code-snippets-form-template{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="html">&lt;form method="POST" action="&#123;% url 'add' %&#125;"&gt;
    &#123;% csrf_token %&#125;
    &#123;&#123; form.as_p &#125;&#125;  &lt;!-- Renders the form fields with &lt;p&gt; element wrappers --&gt;
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</code></pre>
{% endblock %}