{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-forms-what-are-django-forms">What are Django Forms?</a>
    </li>

    <li class="page-contents-link">
        <a href="#Django-forms-utilising-forms">Utilising Forms</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-creating-the-form-class">Creating the Form Class</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-adding-extra-fields">Adding Extra Forms</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-add-the-form-to-your-view">Add the Form to your View</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-add-the-form-to-your-template">Add the Form to your Template</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-widgets">Widgets</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-validation">Validation</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-summary">Summary</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-forms-utilising-forms-example-form">Example Form</a>  
            </li>
        </ul>
    </li>
{% endblock %}
