{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}JavaScript-console-commands-code-snippets-console-table-example{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="javascript">let users = [
    { name: "Adam", age: 30, role: "Developer" },
    { name: "Bob", age: 25, role: "Designer" },
    { name: "Charlie", age: 35, role: "Manager" }
];
console.table(users);
</code></pre>
{% endblock %}