{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-unit-testing-what-is-unit-testing">What is Unit Testing?</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-pytest">Pytest</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-errors">Errors</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-runtime-errors">Runtime Errors</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-raising-your-own-errors">Raising Your Own Errors</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-handling-exceptions">Handling Exceptions</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-ignoring-errors">Ignoring Errors</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-unit-testing-error-information">Error Information</a>
    </li>
{% endblock %}
