{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Python-unit-testing-what-is-unit-testing{% endblock %}

<!--Section title-->
{% block text_title %}What is Unit Testing?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Unit testing is the process of checking individual pieces (units) of your code, such as functions, to make sure 
        they behave correctly in isolation. Python doesn't force you to write tests, but using a tool like pytest makes 
        testing simple and powerful.
    </p>
{% endblock %}