{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}python-variables-assigning-multiple-variables{% endblock %}

<!--Section title-->
{% block text_title %}Assigning Multiple Variables{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Python allows multiple variable assignments in a single line:
    </p>
    {% include 'python_app/variables/includes/code_snippets/multiple_1.html' %}
    <p>
        You can also assign the same value to multiple variables.
    </p>
    {% include 'python_app/variables/includes/code_snippets/multiple_2.html' %}

{% endblock %}