{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-variables-variables-in-Python">Variables in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-variables-naming-rules">Naming Rules</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-variables-assigning-multiple-variables">Assigning Multiple Variables</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-variables-accessing-variables">Accessing Variables</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-variables-advanced-variable-usage">Advanced Variable Usage</a>
    </li>

{% endblock %}
