{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}

    <li class="page-contents-link">
        <a href="#Python-loops-for-loops">For Loops</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Python-loops-for-loops-basic-syntax">Basic Syntax</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-loops-for-loops-range">range()</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-loops-for-loops-ignoring-the-loop-variable">Ignoring the Loop Variable</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#Python-loops-while-loops">While Loops</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Python-loops-while-loops-basic-syntax">Basic Syntax</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-loops-while-loops-looping-through-a-list">Looping Through a List</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-loops-while-loops-user-controlled-while-loop">User Controlled While Loop</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#Python-loops-loop-controls">Loop Controls</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-loops-flags">Flags</a>
    </li>
{% endblock %}
