{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Python-loops-while-loops{% endblock %}

<!--Section title-->
{% block text_title %}While Loops{% endblock %}

<!--Section content-->
{% block text_content %}
    <!--Syntax-->
    <h4 id="Python-loops-while-loops-basic-syntax">
        Basic Syntax
    </h4>
    {% include 'python_app/loops/includes/code_snippets/while_syntax.html' %}

    <!--Looping-->
    <h4 id="Python-loops-while-loops-looping-through-a-list">
        Looping Through a List
    </h4>
    {% include 'python_app/loops/includes/code_snippets/while_loop.html' %}

    <!--User Controlled-->
    <h4 id="Python-loops-while-loops-user-controlled-while-loop">
        User Controlled While Loop
    </h4>
    <p>
        To quit a program with input:
    </p>
    {% include 'python_app/loops/includes/code_snippets/while_user_controlled.html' %}
{% endblock %}