{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-events-what-are-events">What are Events?</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-html-event-attributes">HTML Event Attributes</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-mouse-events">Mouse Events</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-keyboard-events">Keyboard Events</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-form-events">Form Events</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-window-events">Window Events</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-clipboard-events">Clipboard Events</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-event-bubbling">Event Bubbling</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-event-functions">Event Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-events-event-listeners">Event Listeners</a>
    </li>
{% endblock %}
