{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#HTML-home-introduction">Introduction To HTML</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-home-elements">Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-home-nesting">Nesting</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-home-attributes">Attributes</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-home-ids-and-classes">IDs and Classes</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-home-comments">Comments</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-home-doctype">DOCTYPE</a>
    </li>
{% endblock %}
