{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-getting-started-with-django-virtual-environment">Virtual Environment</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-getting-started-with-django-installing-django">Installing Django</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-getting-started-with-django-did-it-work">Did it Work?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-getting-started-with-django-migrations">Migrations</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-getting-started-with-django-creating-a-superuser">Creating a Superuser</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-getting-started-with-django-common-gitignore-files">Common .gitignore Files</a>
    </li>
{% endblock %}
