{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Django-getting-started-with-django-creating-a-superuser{% endblock %}

<!--Section title-->
{% block text_title %}Creating a Superuser{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The final recommended stage in setting up the project is to create yourself a superuser account. A huge 
        advantage of using Django is its admin interface allowing you to create/edit/review the connected database 
        through a browser window and update in real time. The benefits and usability of which are discussed in the 
        admin section.
    </p>
    <p>
        Creating a superuser to access this interface is straightforward, simply run the following command in the 
        terminal:
    </p>
    {% include 'django_app/getting_started_with_django/includes/code_snippets/create_superuser.html' %}
    <p>
        The first check that is made is whether the User model is set up and migrated correctly. This was done in our 
        initial migration step and should fly by unless the migrations haven't been previously migrated.
    </p>
    <p>
        It will prompt you for a username or to leave blank to use the suggested username taken from the user in the 
        project pathway, then an email address, and then a password and a password confirmation. If the password does 
        not meet Django's default security requirements you may have to enter a stronger password.
    </p>
    <p>
        To log into the admin page, run the website again using
        <code class="written-code">python manage.py runserver</code>
        and open the website link and add /admin to the end of the URL. Log in with your chosen details and have a 
        little look around. It's pretty bare at the moment but by clicking on the 'Users' link you should see your 
        superuser details along with a green tick under the staff status.
    </p>
{% endblock %}