{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Django-getting-started-with-django-virtual-environment{% endblock %}

<!--Section title-->
{% block text_title %}Virtual Environment{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Once your GitHub repository is 
        <a 
            class="text-link"
            href="{% url 'full_stack_github' %}#intro-to-full-stack-github-creating-a-repository"
            title="GitHub Repository"
            aria-label="Go to the GitHub Repository section"
        >
            set up
        </a>
        and you're
        <a 
            class="text-link"
            href="{% url 'full_stack_github' %}#intro-to-full-stack-github-using-a-repository"
            title="GitHub local work"
            aria-label="Go to the GitHub working local section"
        >
            working on it
        </a>
        locally, your first step is to create a 
        <dfn title="A make-believe computer in a computer">virtual environment</dfn>.
        This is essential for two key reasons; it prevents changes to your system's files or libraries, and ensures you 
        can easily track all project-specific library requirements when it's time to deploy your website. This is done 
        with the following command in the terminal:
    </p>
    {% include 'django_app/getting_started_with_django/includes/code_snippets/create_virtual_environment.html' %}
    <p>
        This will create a venv folder in your project, which will be visible in the file explorer. Be sure to add this 
        folder to your .gitignore file to avoid cluttering your repository with unnecessary files.
    </p>
    <p>
        To activate your virtual environment, enter the following command in the terminal:
    </p>
    {% include 'django_app/getting_started_with_django/includes/code_snippets/activate_virtual_environment.html' %}
    <p>
        A green (venv) will appear before your directory path, indicating the virtual environment is active. Keep in 
        mind, this indicator may not show in new terminal windows, but the virtual environment remains active as long 
        as it's visible in the main terminal. With the virtual environment active, any packages you download from your 
        VSCode terminal will be installed only within the environment, keeping the rest of your PC clean and unaffected.
    </p>
    <p>
        To deactivate your virtual environment, enter the following command in the terminal:
    </p>
    {% include 'django_app/getting_started_with_django/includes/code_snippets/deactivate_virtual_environment.html' %}
    <p>
        Be sure to check that the virtual environment is active each work session you start.
    </p>

{% endblock %}