{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-classes-classes-in-python">Classes in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-best-practices">Best Practices</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-class-layout">Class Layout</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-instantiation">Instantiation</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-updating-instances">Updating Instances</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-getter-and-setter">Getter and Setter</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-the-str-method">The __str__() Method</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-inheritance">Inheritance</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-classes-mixins">Mixins</a>
    </li>

{% endblock %}
