{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#backend-home-what-is-the-backend">What is the Back-end?</a>
    </li>
    <li class="page-contents-link">
        <a href="#backend-home-databases-and-dbms">Databases and DBMS</a>
    </li>
    <li class="page-contents-link">
        <a href="#backend-home-requests-and-queries">Requests and Queries</a>
    </li>
    <li class="page-contents-link">
        <a href="#backend-home-tables-rows-and-columns">Tables, Rows, and Columns</a>
    </li>
    <li class="page-contents-link">
        <a href="#backend-home-the-schema">The Schema</a>
    </li>
    <li class="page-contents-link">
        <a href="#backend-home-relational-vs-nonrelational">Relational vs Non-Relational</a>
    </li>

{% endblock %}
