{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: Python - Code Validation{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>Code Validation</h2>
    {% include 'python_app/code_validation/includes/contents.html' %}
    {% include 'python_app/code_validation/includes/code_validation.html' %}
    {% include 'python_app/code_validation/includes/flake8.html' %}
    {% include 'python_app/code_validation/includes/black.html' %}
    {% include 'python_app/code_validation/includes/isort.html' %}

{% endblock %}