{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}JavaScript-conditional-statments-code-snippets-switch-example{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="javascript">// Before
let result = 75;

if (result > 79) {
    console.log("A");
} else if (result>69) {
    Console.log ("B");
} else {
    Console.log("C");
}

// After
let result = 75;

switch (true) {
    case (result > 79):
        console.log("A");
        break;
    case (result > 69):
        console.log("B");
        break;
    default:
        console.log("C");
}
</code></pre>
{% endblock %}