{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-languages-code-snippets-language-settings-middleware{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">MIDDLEWARE = [
	…
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.locale.LocaleMiddleware',  # Languages
    'django.middleware.common.CommonMiddleware',
	…
]
</code></pre>
{% endblock %}