{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-arrays-array-methods{% endblock %}

<!--Section title-->
{% block text_title %}Array Methods{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        JavaScript provides numerous methods to manipulate arrays.
    </p>
    <p>
        <code class="written-code">concat()</code>:
        Merges arrays        
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_concat.html' %}
    <p>
        <code class="written-code">filter()</code>:
        Iterates over an array and filters to only a specified set of results. The 
        <dfn class="A function that you want to call on every item in the array">call back function</dfn>
        must return a test that evaluates to be true or false. If the callback function is advanced, define it outside 
        of the function. Filter will return an array. If you are seeking only 1 value, add [0] after filter() to return 
        one object or value instead of an array with 1 item.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_filter.html' %}
    <p>
        <code class="written-code">indexOf(item, fromIndex)</code>:
        Returns the first index of the item.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_indexof.html' %}
    <p>
        <code class="written-code">lastIndexOf(item, fromIndex)</code>:
        Returns the last index of the item.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_lastindexof.html' %}
    <p>
        <code class="written-code">length</code>:
        Returns the number of elements in the array.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_length.html' %}
    <p>
        <code class="written-code">map()</code>:
        Takes a callback function as the parameter and map() iterates over an array, applying this function, and 
        returns a new array of results.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_map.html' %}
    <p>
        <code class="written-code">pop()</code>:
        Removes the last element.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_pop.html' %}
    <p>
        <code class="written-code">push()</code>:
        Adds one or more elements to the end.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_push.html' %}
    <p>
        <code class="written-code">reduce()</code>:
        Reduces all elements of an array into a single output value.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_reduce.html' %}
    <p>
        <code class="written-code">reverse()</code>:
        Reverses the array.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_reverse.html' %}
    <p>
        <code class="written-code">shift()</code>:
        Removes the first element and shifts all element indexes one to the left.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_shift.html' %}
    <p>
        <code class="written-code">slice(start, end)</code>:
        Returns a shallow copy of a portion of an array.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_slice.html' %}
    <p>
        <code class="written-code">sort()</code>:
        Sorts the elements in various ways. By default it sorts alphabetically.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_sort.html' %}
    <p>
        <code class="written-code">splice(start, deleteCount, item1, item2, ...)</code>:
        Adds/removes elements.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_splice.html' %}
    <p>
        <code class="written-code">unshift()</code>:
        Adds one or more elements to the beginning and shifts all other elements to the right.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/methods_unshift.html' %}

{% endblock %}