{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-what-are-arrays">What are Arrays?</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-creating-arrays">Creating Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-checking-for-arrays">Checking for Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-accessing-and-modifying-elements">Accessing and Modifying Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-iterating-through-arrays">Iterating Through Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-nested-arrays">Nested Arrays</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-spread-operator">Spread Operator</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-rest-operator">Rest Operator</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-destructuring-assignment">Destructuring Assignment</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-arrays-array-methods">Array Methods</a>
    </li>
{% endblock %}
