{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}JavaScript-arrays-nested-arrays{% endblock %}

<!--Section title-->
{% block text_title %}Nested Arrays{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Arrays can contain other arrays. This array contains a list of 2 lists which each have 2 values. To access an 
        element in a nested array use the syntax
        <code class="written-code">arrayName[indexOfOuterList][indexOfInnerList]</code>.
    </p>
    {% include 'javascript_app/arrays/includes/code_snippets/nested.html' %}
{% endblock %}