{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-arrays-what-are-arrays{% endblock %}

<!--Section title-->
{% block text_title %}What are Arrays?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Arrays in JavaScript are versatile data structures that allow you to store and manipulate collections of 
        values. They are essential for handling lists of data, whether you're managing a series of numbers, strings, 
        or more complex objects. To grasp the idea of arrays it is ok to imagine them as lists at first before you 
        become more comfortable with them. They are ordered collections of elements, each identified by an index 
        starting from 0. They are a type of object, which means they inherit properties and methods from the Object 
        prototype.
    </p>
{% endblock %}