{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#HTML-forms-understanding-forms-in-HTML">Understanding Forms in HTML</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-forms-HTML-form-structure">HTML Form Structure</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-forms-GET-and-POST">GET and POST</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-forms-common-form-elements">Common Form Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-forms-form-validation">Form Validation</a>
    </li>
{% endblock %}
