{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Django-allauth-what-is-django-allauth{% endblock %}

<!--Section title-->
{% block text_title %}What is Django AllAuth?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Django AllAuth is invaluable if you intend to have users create accounts on your full-stack web app. It is a 
        powerful authentication and account management library for Django and provides everything you need for handling 
        user registration, login, logout, password management, and social authentication (Letting the user create an 
        account and log in with Gmail, Facebook etc.).
    </p>

{% endblock %}