{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}analytics-home-what-is-it{% endblock %}

<!--Section title-->
{% block text_title %}What is it?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Google analytics helps you see the traffic on your webpage. You can track how many people are visiting your 
        site, where they are visiting from and which of the pages are the most popular. This will help influence 
        business decisions when updating your website. 
    </p>
{% endblock %}