{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-sizes-sizes-on-the-web">Sizes on the Web</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-sizes-absolute-units">Absolute Units</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-sizes-relative-units">Relative Units</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-sizes-viewport-units">Viewport Units</a>
    </li>
{% endblock %}
