{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-sizes-sizes-on-the-web{% endblock %}

<!--Section title-->
{% block text_title %}Sizes on the Web{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Sizes on websites can be measured using a variety of units, each serving different purposes depending on the 
        layout requirements and responsiveness of your design. The most common categories of units are absolute units 
        and relative units.
    </p>
{% endblock %}