{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Flask-read-code-snippets-template{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="html">&lt;!--Looping through the categories and showing the names--&gt;
&#123;% for category in categories %&#125;
&lt;!--Using dot notation of the temporary variable to show attribute data--&gt;
&lt;h2&gt;&#123;&#123; category.category_name &#125;&#125;&lt;/h2&gt;
&#123;% endfor %&#125;

&lt;!--Accessing variables defined in the render_template--&gt;
&lt;p&gt;
    Category picked by name = &#123;&#123; category_name &#125;&#125;
&lt;/p&gt;
&lt;p&gt;
    Category picked by id = &#123;&#123; category_id &#125;&#125;
&lt;/p&gt;
</code></pre>
{% endblock %}