{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-user-stories-what-are-user-stories">What are User Stories?</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-user-stories-user-story-syntax">User Story Syntax</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-user-stories-user-story-examples">User Story Examples</a>
    </li>

{% endblock %}
