{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-user-stories-user-story-examples{% endblock %}

<!--Section title-->
{% block text_title %}User Story Examples{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        User stories will ultimately come down to your specific website, however there are some general ones that apply 
        to many, many websites such as
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    User Story ID
                </th>
                <th>
                    As A/An
                </th>
                <th>
                    I Want To Be Able To...
                </th>
                <th>
                    So That I Can...
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    First Time Visitor
                </td>
                <td>
                    Tell the purpose of the website immediately
                </td>
                <td>
                    Decide whether I want to use the website
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    First Time Visitor
                </td>
                <td>
                    Navigate the website easily and intuitively
                </td>
                <td>
                    I can find the content that I need
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    First Time Visitor
                </td>
                <td>
                    Be informed if I land on a non-existent or restricted page
                </td>
                <td>
                    Be sure of what happened and be redirected back to the homepage
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Site User
                </td>
                <td>
                    Have the site content to be safe and secure
                </td>
                <td>
                    Know that I am not open to any malicious activities
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Business Owner
                </td>
                <td>
                    See information on user accounts
                </td>
                <td>
                    Adjust my business needs to demand
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}