{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}intro-to-full-stack-user-stories-what-are-user-stories{% endblock %}

<!--Section title-->
{% block text_title %}What are User Stories{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        User stories are a good starting point for figuring out everything you want to include in your webapp. You take 
        the point of view of a visiting user and imagine their experience. This will highlight features to include or 
        avoid and ensure that your webapp meets a high standard and will be enjoyable to use. You can highlight these 
        before designing the website so that you can design your website around them and during your development you 
        can keep coming back to them in order to stay focused on the required tasks.
    </p>
{% endblock %}