{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-settings-what-is-it-for">What is it for?</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-settings-layout-of-the-settings-file">Layout of the settings.py File</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-imports">Imports</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-base-directory-definition">Base Directory Definition</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-security-key">Security Key</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-debug">Debug</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-allowed-hosts">Allowed Hosts</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-installed-apps">Installed Apps</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-middleware">Middleware</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-root-urlconf">ROOT_URLCONF</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-templates">Templates</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-wsgi-application">WSGI_APPLICATION</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-databases">Databases</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-auth-password-validators">AUTH_PASSWORD_VALIDATORS</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-internationalization">Internationalization</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-static-files">Static Files</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-layout-of-the-settings-file-default-auto-field">DEFAULT_AUTO_FIELD</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#Django-settings-how-tos">How-tos</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-linking-your-env-file">Linking Your env.py File</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-adding-apps">Adding Apps</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-allauth">AllAuth</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-context-processors">Context Processors</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-enable-messages">Enable Messages</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-static-and-media-files">Static and Media Files</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-cloudinary">Cloudinary</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-whitenoise">Whitenoise</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-allauth">AllAuth</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-translation">Translation</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-settings-how-tos-heroku">Heroku</a>  
            </li>
        </ul>
    </li>
{% endblock %}
