{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-links-and-buttons-what-should-a-link-look-like">What Should a Link Look Like?</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-links-and-buttons-resetting-the-default">Resetting the Default</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-links-and-buttons-link-states">Link States</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-links-and-buttons-buttons">Buttons</a>
    </li>
{% endblock %}
