{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-links-and-buttons-what-should-a-link-look-like{% endblock %}

<!--Section title-->
{% block text_title %}What Should a Link Look Like?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        In order to provide a good user experience, links should follow clear and consistent conventions across the 
        website. So however you decide to style your links, keep the same type of links looking the same.
    </p>
    <p>
        They should be easily distinguishable from regular text, often through colour, underlining, or other visual 
        cues such as the cursor becoming a pointer when hovered over.
    </p>
{% endblock %}