{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-testing-testing-in-django">Testing in Django</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-test-driven-development">Test-Driven Development</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-test-files">Test Files</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-writing-tests">Writing Tests</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-testing-views">Testing Views</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-setup">setUp</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-check-http-response-and-template">Check HTTP Response and Template</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-testing-the-context">Texting the Context (Read)</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-testing-valid-post-data">Testing Valid POST Data</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-testing-invalid-post-data">Testing Invalid POST Data</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-testing-create">Testing Create</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-testing-edit">Testing Edit</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-testing-testing-views-testing-delete">Testing Delete</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-testing-forms">Testing Forms</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-common-assertions">Common Assertions</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-running-tests">Running Tests</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-testing-coverage">Coverage</a>
    </li>
{% endblock %}
