{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-google-dev-tools-what-is-google-dev-tools">What is Google DevTools?</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-google-dev-tools-elements">Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-google-dev-tools-console">Console</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-google-dev-tools-lighthouse">Lighthouse</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-google-dev-tools-performance">Performance</a>
    </li>
{% endblock %}
