{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-backgrounds-backgrounds-in-web-design{% endblock %}

<!--Section title-->
{% block text_title %}Backgrounds in Web Design{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        In web design, the background of a webpage or HTML element plays a huge role in the look and feel of a site. 
        From solid colours to layered images and gradients, backgrounds can help guide user focus, enhance visual 
        appeal, and contribute to branding. They can be applied to most elements, but I usually apply them to 
        individual containers or 
        <code class="written-code">divs</code>
        along with the page background of the body or main element.
    </p>
    <p>
        A thoughtfully designed background can enhance visual hierarchy, reinforce branding, improve readability and 
        accessibility, or create immersive user experiences. However, overuse of heavy images or bright colours can 
        also clutter your design or slow down page performance. Always try to balance aesthetics with usability.
    </p>
{% endblock %}