{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-backgrounds-backgrounds-in-web-design">Backgrounds in Web Design</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-backgrounds-background-colour">Background Colour</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-backgrounds-background-image">Background Image</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-backgrounds-background-image-behaviour">Background Image Behaviour</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-backgrounds-background-shorthand">Background Shorthand</a>
    </li>
{% endblock %}
