{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-flexbox-advanced-flexbox-layouts{% endblock %}

<!--Section title-->
{% block text_title %}Advanced Flexbox Layouts{% endblock %}

<!--Section content-->
{% block text_content %}
    <!--Introduction-->
    <p>
        Flexbox is particularly useful for creating complex layouts that need to be responsive. For example, you can 
        create equal-width columns that adapt to different screen sizes by using 
        <code class="written-code">flex-grow</code>,
        <code class="written-code">flex-shrink</code>,
        and
        <code class="written-code">flex-basis</code>.
    </p>
    <!--Equal Width Columns-->
    <h4>Equal Width Columns</h4>
    <p>
        To create three equal-width columns, you can apply flex-grow to the items:
    </p>
    {% include 'CSS/flexbox/includes/code_snippets/equal_width_columns.html' %}
    <p>
        Each item will take up an equal amount of space in the container, and they will automatically adjust their size 
        if the container is resized.
    </p>
    <!--Centring Items-->
    <h4>Centring Items</h4>
    <p>
        You can easily centre items both vertically and horizontally using Flexbox. To centre an item within a 
        container, you can use 
        <code class="written-code">justify-content: center;</code> 
        (for horizontal centring) and 
        <code class="written-code">align-items: center;</code>
        (for vertical centring).
    </p>
    {% include 'CSS/flexbox/includes/code_snippets/centring_items.html' %}
    <p>
        This will centre the flex items both horizontally and vertically within the container.
    </p>
    <!--Footer-->
    <h4>Footer</h4>
    <p>
        In order to achieve a footer that stays at the bottom of the page:
    </p>
    {% include 'CSS/flexbox/includes/code_snippets/footer.html' %}
    <p>
        The body is set to a flex container with a column layout and the 
        <code class="written-code">min-height: 100vh;</code>
        ensures the page is at least the full height of the viewport. The 
        <code class="written-code">main { flex: 1 0 auto; }</code> 
        makes the main content expand and take up any available space and 
        <code class="written-code">flex: 1 0 auto;</code>
        means:
    </p>
    <ul>
        <li>
            1: It grows to fill available space.
        </li>
        <li>
            0: It doesn't shrink.
        </li>
        <li>
            auto: The default basis (size) is determined by its content.
        </li>
    </ul>
    <p>
        Because main expands to fill the space, it pushes the footer down when there's not enough content and if 
        there's enough content, the footer naturally moves further down.
    </p>
{% endblock %}