{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-flexbox-introduction">Introduction</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-flexbox-display">Flexbox Display</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-main-concepts">Main Concepts</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-grow-shrink-and-basis">Grow, Shrink, and Basis</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-flex-wrap">Flex Wrap</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-align-content">Align Content</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-flex-flow">Flex Flow</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-flexbox-advanced-flexbox-layouts">Advanced Flexbox Layouts</a>
    </li>
{% endblock %}
