{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-tuples-tuples-in-Python">Tuples in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-tuples-creating-tuples">Creating Tuples</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-tuples-accessing-tuple-items">Accessing Tuple Items</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-tuples-tuple-unpacking">Tuple Unpacking</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-tuples-nesting">Nesting</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-tuples-tuple-methods">Tuple Methods</a>
    </li>

{% endblock %}
