{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-json-working-with-json">Working with JSON</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-json-reading-json-files">Reading JSON Files</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-json-writing-json-files">Writing JSON Files</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-json-extra-tips-and-tricks">Extra Tips and Tricks</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Python-json-extra-tips-and-tricks-pretty-printing-json">Pretty Printing JSON</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Python-json-extra-tips-and-tricks-converting-json-strings">Converting JSON Strings</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#Python-json-handling-unicode-and-encoding">Handling Unicode and Encoding</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-json-common-errors">Common Errors</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-json-Python-to-json-type-mapping">Python to JSON Type Mapping</a>
    </li>
{% endblock %}
