{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}HTML-common-elements-breaking-elements{% endblock %}

<!--Section title-->
{% block text_title %}Breaking Elements{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Some elements introduce purposeful breaks in the follow of the webpage. This can be to ensure that the next 
        element is placed on another next line or to introduce a horizontal rule across the page between sections.
    </p>
    {% include 'HTML/common_elements/includes/code_examples/break_elements_example.html' %}
{% endblock %}