{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#HTML-common-elements-container-elements">Container Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-common-elements-structural-elements">Structural Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-common-elements-text-formatting-elements">Text Formatting Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#HTML-common-elements-breaking-elements">Breaking Elements</a>
    </li>
{% endblock %}
