{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-selectors-what-are-selectors">What Are Selectors?</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-selectors-simple-selectors">Simple Selectors</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-selectors-attribute-selectors">Attribute Selectors</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-selectors-combinator-selectors">Combinator Selectors</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-selectors-pseudo-classes">Pseudo Classes</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-selectors-pseudo-elements">Pseudo Elements</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-selectors-inherit">Inherit</a>
    </li>
{% endblock %}
