{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-selectors-what-are-selectors{% endblock %}

<!--Section title-->
{% block text_title %}What Are Selectors?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        We saw in the CSS home section, how a paragraph was “selected” in CSS for a rule to be applied. However there 
        are numerous ways in order to select the element you want to apply a rule to in CSS. These selectors are 
        outlined in this section covering how to target any HTML element that you want. 
    </p>
{% endblock %}