{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: HTML - Common Elements{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>Common Elements</h2>
    {% include 'HTML/common_elements/includes/contents.html' %}
    {% include 'HTML/common_elements/includes/container_elements.html' %}
    {% include 'HTML/common_elements/includes/structural_elements.html' %}
    {% include 'HTML/common_elements/includes/text_formatting_elements.html' %}
    {% include 'HTML/common_elements/includes/breaking_elements.html' %}
{% endblock %}