{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-box-model-what-is-the-css-box-model">What is the CSS Box Model?</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-vertical-spacing">Vertical Spacing</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-content">Content</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-padding">Padding</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-border">Border</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-margin">Margin</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-overflow">Overflow</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-box-model-box-sizing">Box-Sizing</a>
    </li>
{% endblock %}
