{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-settings-code-snippets-auth-password-validators{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">AUTH_PASSWORD_VALIDATORS = [
    {
        'NAME': (
            'django.contrib.auth.password_validation.'
	# Prevents passwords that are too similar to the user's personal info (e.g., username, email, first name).
            'UserAttributeSimilarityValidator'
        ),
    },
    {
        'NAME': (
            'django.contrib.auth.password_validation.'
# Ensures the password is at least a minimum number of characters (default is 8, but you can customize this).
            'MinimumLengthValidator'
        ),
    },
    {
        'NAME': (
            'django.contrib.auth.password_validation.'
	# Blocks passwords that are too common or easily guessable (like "123456", "password", etc.).
            'CommonPasswordValidator'
        ),
    },
    {
        'NAME': (
            'django.contrib.auth.password_validation'
	# Rejects passwords made up of only numbers (e.g., "12345678").
            'NumericPasswordValidator'
        ),
    },
]
</code></pre>
{% endblock %}