{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#flask-update-create-template">Create Template</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-update-set-up-route">Set up Route</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-update-create-link">Create Link</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-update-update-route">Update Route</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-update-update-template">Update Template</a>
    </li>
    <li class="page-contents-link">
        <a href="#flask-update-update-records">Update Records</a>
    </li>

{% endblock %}
