{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Python-numpy-code-snippets-attributes{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">array.ndim             # Number of dimensions
array.shape            # Shape of array (rows, columns, etc.)
array.dtype            # Data type (e.g., int32)
array.itemsize         # Bytes per element
array.size             # Total number of elements
array.nbytes           # Total memory used (size * itemsize)
</code></pre>
{% endblock %}