{% extends 'base.html' %}
{% load static %}

{% block extra_title %}: JavaScript - Home{% endblock %}

{% block extra_css %}
    <!--No full stack file-->
{% endblock extra_css %}

{% block content %}
    <h2>JavaScript</h2>
    {% include 'javascript_app/home/includes/contents.html' %}
    {% include 'javascript_app/home/includes/what_is_javascript.html' %}
    {% include 'javascript_app/home/includes/running_javascript.html' %}
    {% include 'javascript_app/home/includes/asynchrony.html' %}
    {% include 'javascript_app/home/includes/resources.html' %}
    {% include 'javascript_app/home/includes/syntax.html' %}

{% endblock %}