{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}python-conditionals-conditionals-in-python{% endblock %}

<!--Section title-->
{% block text_title %}Conditionals in Python{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Conditionals in Python are especially easy to read and write. They allow your program to make decisions by 
        running certain blocks of code only when specific conditions are met. Python's syntax makes them clean, 
        readable, and simple to use. 
    </p>
{% endblock %}