{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-conditionals-conditionals-in-python">Conditionals in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-conditionals-if">If</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-conditionals-multiple-conditions">Multiple Conditions</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-conditionals-truthy-and-falsy">Truthy and Falsy</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-conditionals-walrus-operator">Walrus Operator</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-conditionals-elif-and-else">Elif and Else</a>
    </li>

{% endblock %}
