{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-conditionals-conditionals-in-Python">Conditionals in Python</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-conditionals-if">If</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-conditionals-multiple-conditions">Multiple Conditions</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-conditionals-truthy-and-falsy">Truthy and Falsy</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-conditionals-walrus-operator">Walrus Operator</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-conditionals-elif-and-else">Elif and Else</a>
    </li>

{% endblock %}
