{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-vscode-what-is-an-ide">What is an IDE?</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-vscode-installing-vscode">Installing VS Code</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-vscode-creating-your-workspace">Creating your Workspace</a>
    </li>
    <li class="page-contents-link">
        <a href="#intro-to-full-stack-vscode-using-vscode">Using VS Code</a>
    </li>

{% endblock %}
