{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#JavaScript-manipulating-the-dom-how-to-manipulate-the-dom">How to Manipulate the DOM</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-manipulating-the-dom-html-properties">HTML Properties</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-manipulating-the-dom-updating-html">Updating HTML</a>
    </li>
{% endblock %}
