{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-transitions-introduction">Introduction</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-transitions-the-transition-property">The Transition Property</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-transitions-the-transition-duration">The Transition Duration</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-transitions-the-transition-timing-function">The Transition Timing Function</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-transitions-the-transition-delay">The Transition Delay</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-transitions-combining-multiple-transitions">Combining Multiple Transitions</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-transitions-practical-examples-of-css-transitions">Practical Examples of CSS Transitions</a>
    </li>
{% endblock %}
