{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-transitions-the-transition-duration{% endblock %}

<!--Section title-->
{% block text_title %}The Transition Duration{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The transition-duration property defines the length of time the transition will take. This can be specified in 
        seconds (s) or milliseconds (ms). It determines how long the transition should run from the start to the end.
    </p>
    {% include 'CSS/transitions/includes/code_snippets/duration_1.html' %}
    <p>
        This rule specifies that the transition will take 2 seconds to complete. You can also define different 
        durations for different properties. For example:
    </p>
    {% include 'CSS/transitions/includes/code_snippets/duration_2.html' %}
    <p>
        Here, the 
        <code class="written-code">background-color</code>
        transition lasts 1 second, and the 
        <code class="written-code">transform</code>
        transition takes 0.5 seconds.
    </p>
{% endblock %}