{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-grids-introduction">Introduction</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-grids-setting-up-a-grid-layout">Setting up a Grid Layout</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-grids-fractional-units">Fractional Units</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-grids-minimum-and-maximum-sizes">Minimum and Maximum Sizes</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-grids-grid-gaps">Grid Gaps</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-grids-placing-elements-within-the-grid">Placing Elements Within the Grid</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-grids-grid-template-areas">Grid Template Areas</a>
    </li>
{% endblock %}
