{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-grids-fractional-units{% endblock %}

<!--Section title-->
{% block text_title %}Fractional Units{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The 
        <code class="written-code">fr</code>
        unit represents a fraction of the available space in the grid container. It allows for flexible distribution of 
        space among grid items.
    </p>
    {% include 'CSS/grids/includes/code_snippets/fractional_units_1.html' %}
    <p>
        In this setup, the container is divided into four equal parts, with the middle column taking up twice the space 
        of the others.
    </p>
    <p>
        The 
        <code class="written-code">repeat()</code>
        function simplifies the creation of grids with repeating column or row sizes. For example, to create three 
        columns each 100px wide:
    </p>
    {% include 'CSS/grids/includes/code_snippets/fractional_units_2.html' %}
    <p>
        This is equivalent to specifying 
        <code class="written-code">grid-template-columns: 100px 100px 100px;</code>.
    </p>
{% endblock %}