{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}CSS-grids-introduction{% endblock %}

<!--Section title-->
{% block text_title %}Introduction{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The CSS Grid Layout is a two-dimensional layout system that enables developers to design complex and 
        responsive web layouts with ease. It allows for the creation of both rows and columns, providing greater 
        flexibility compared to one-dimensional layout systems like Flexbox. By defining a grid container and placing 
        grid items within it, developers can control the positioning and sizing of elements in a structured manner. 
    </p>
{% endblock %}