{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}backend-sqlalchemy-code-snippets-table{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">artist_table = Table(
    "Artist", meta,
    Column("ArtistID", Integer, primary_key = True),
    Column("Name", String)
)

# Syntax for foreign keys
Foreignkey("TableWhereItIsPrimaryKey. PrimaryKeyColumnName")
</code></pre>
{% endblock %}
