{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}analytics-seo-what-is-seo{% endblock %}

<!--Section title-->
{% block text_title %}What is SEO?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        <dfn title="Search Engine Optimization">SEO</dfn> 
        is the practice of improving a website so that it ranks higher in search engine results pages such as on Google.
        The goal here is to increase organic (non-paid) traffic to your website.
    </p>
{% endblock %}