{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-data-types-data-types-in-javascript">Data Types in JavaScript</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-operators">Operators</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-number">Number</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-big-int">BigInt</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-string">String</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-boolean">Boolean</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-object">Object</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-null">Null</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-undefined">Undefined</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-data-types-converting-between-types">Converting Between Types</a>
    </li>

{% endblock %}
