{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}JavaScript-data-types-converting-between-types{% endblock %}

<!--Section title-->
{% block text_title %}Converting Between Types{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        JavaScript can sometimes automatically convert one data type into another, this is known as type coercion. A 
        main example of this is when you add numbers and strings together, it will automatically convert the number into 
        a string and concatenate them.
    </p>
    {% include 'javascript_app/data_types/includes/code_snippets/convert_data_types.html' %}
    <p>
        It is often useful to convert between values. Perhaps you want you add a value into a string, so will need to 
        convert it from a number to a string first. Or vice versa, perhaps the user inputs a number, which will, by 
        default be logged as a string. Then you will need to convert to a number to use it in any mathematical 
        equations. To see the type of a value you can use
        <code class="written-code">typeof</code>.
    </p>
    {% include 'javascript_app/data_types/includes/code_snippets/convert_data_types_examples.html' %}
    <p>
        Note that a long running bug in JavaScript (that persists due to the quirks of the foundations of the language).
        That 
        <code class="written-code">typeof null</code>
        returns "object".
    </p>
    <p>
        To convert between types you can use:
    </p>
    <ul>
        <li><code class="written-code">Boolean()</code>: Converts any value to its Boolean equivalent.</li>
        <li><code class="written-code">parseInt()</code>: Converts a string into an integer. You can specify base as an optional value (e.g. you may want to convert it to base 2 to use in binary) that would look like parseInt(variable, 2).</li>
        <li><code class="written-code">parseFloat()</code>: Converts a string into a floating point number (decimal).</li>
        <li><code class="written-code">Number()</code>: Converts any value into a number.</li>
        <li><code class="written-code">String()</code>:	Converts any value into a string.</li>
    </ul>
{% endblock %}