{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-data-types-data-types-in-javascript{% endblock %}

<!--Section title-->
{% block text_title %}Data Types in JavaScript{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Understanding data types is essential for writing reliable, efficient JavaScript. Everything you work with, 
        from numbers and strings to complex objects, has a type. JavaScript can behave differently depending on what 
        type its handling. 
    </p>
{% endblock %}