{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#javascript-home-what-is-javascript">What is JavaScript?</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-home-running-javascript">Running JavaScript</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-home-asynchrony">Asynchrony</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-home-resources">Resources</a>
    </li>
    <li class="page-contents-link">
        <a href="#javascript-home-syntax">Syntax</a>
    </li>
{% endblock %}
