{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#JavaScript-home-what-is-JavaScript">What is JavaScript?</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-home-running-JavaScript">Running JavaScript</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-home-asynchrony">Asynchrony</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-home-resources">Resources</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-home-syntax">Syntax</a>
    </li>
{% endblock %}
