{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-home-resources{% endblock %}

<!--Section title-->
{% block text_title %}Resources{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        The main resource that I rely on for JavaScript is the 
        <a 
            class="text-link"
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            title="Go to the Mozilla Developers Resource"
            aria-label="Go to the Mozilla Developers Resource"
            target="_blank"
            rel="noopener noreferrer"
        >
            Mozilla Developers Resource
        </a>
        for JavaScript; essentially the go to online documentation. Another option is
        <a 
            class="text-link"
            href="https://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides/dp/0596805527"
            title="Go to the amazon page for the JavaScript definitive guide page"
            aria-label="Go to the amazon page for the JavaScript definitive guide page"
            target="_blank"
            rel="noopener noreferrer"
        >
            JavaScript the Definitive Guide
        </a>
        by Dave Flannigan if you are after a physical textbook.
    </p>
{% endblock %}