{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}JavaScript-home-what-is-JavaScript{% endblock %}

<!--Section title-->
{% block text_title %}What is JavaScript?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        JavaScript is used to enhance your HTML and CSS with animation, interactivity and visual effects. Unlike HTML 
        and CSS, which concern themselves with how things are displayed, JavaScript can make logical decisions and is 
        such an imperative language.
    </p>
{% endblock %}