{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}code_snippet_html_semantic_article_example{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="html">&lt;article&gt;
    &lt;h2&gt;Article title&lt;/h2&gt;
    &lt;p&gt;Article text&lt;/p&gt;
    &lt;blockquote&gt;Some quote&lt;/blockquote&gt;
    &lt;figure&gt;
        &lt;img src="example.jpg" alt="Description of the image."&gt;
        &lt;figcaption&gt;A caption under the image that the user can read&lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/article&gt;
</code></pre>
{% endblock %}