{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}code_snippet_html_semantic_nav_example{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="html">&lt;header&gt;
    &lt;nav&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href="/home/"&gt;Homepage&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="/contact/"&gt;Contact me&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;
&lt;/header&gt;
</code></pre>
{% endblock %}