{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}code_snippet_html_semantic_picture_example{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="html">&lt;picture&gt;
    &lt;source srcset="image.webp" type="image/webp"&gt;
    &lt;source srcset="image.jpg" type="image/jpeg"&gt;
    &lt;img src="fallback.jpg" alt="Description of image"&gt;
&lt;/picture&gt;
</code></pre>
{% endblock %}