{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Django-search-database-search">Database Search</a>
    </li>
    <li class="page-contents-link">
        <a href="#Django-search-algolia">Algolia</a>
        <ul>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-set-up-an-algolia-account">Set up an Algolia Account</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-prepare-your-django-project">Prepare Your Django Project</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-create-an-app-to-handle-the-search">Create an App to Handle the Search</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-create-an-indexer-for-the-templates">Create an Indexer for the Templates</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-creating-the-view">Creating the View</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-creating-the-url">Creating the URL</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-search-template">Search Template</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-results-template">Results Template</a>  
            </li>
            <li class="page-contents-link">
                <a href="#Django-search-algolia-tweaking-results">Tweaking Results</a>  
            </li>
        </ul>
    </li>
{% endblock %}
