{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-home-what-is-python">What is Python?</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-home-installing-and-setting-up">Installing and Setting Up</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-home-writing">Writing</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-home-file-layout">File Layout</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-home-running-python-code">Running Python Code</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-home-libraries">Libraries</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-home-object-oriented-programming">Object Oriented Programming</a>
    </li>
{% endblock %}
