{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Python-home-file-layout{% endblock %}

<!--Section title-->
{% block text_title %}File Layout{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        When writing Python scripts, it's important to structure your code in a clean, readable, and maintainable way. 
        A well-organized file layout makes it easier to understand what your program does, where to find specific 
        functionality, and how to scale your project later on. The files will have a 
        <code class="written-code">.py</code>
        file extension and ideally have a filename that is descriptive. It will consist of a series of functions; the 
        <code class="written-code">main</code>
        function, aptly named main, and a series of smaller function. The, ahem, function of main is where you can turn 
        your pseudo code into actual code and call functions in logical order. Each line of pseudo code 
        (each… function!) should be split into it's own function that is defined underneath main. These are called 
        helper functions. The end of the file will have a 
        <code class="written-code">if __name__ == "__main__":</code>
        block that will call the main function. The whole reason for this, is so that if the file is run on its own, it 
        will execute whatever code is in the main function. But if you are using it as a library, you can import any of 
        the helper functions in other files without running the whole of this file to do so. 
    </p>
    {% include 'python_app/home/includes/code_snippets/main.html' %}
{% endblock %}