{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Python-home-what-is-Python{% endblock %}

<!--Section title-->
{% block text_title %}What is Python?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Python is a high-level, versatile programming language known for its clean syntax and ease of use. It's a 
        great choice for beginners and professionals alike because it's readable, flexible, and supported by a huge 
        community. Python is widely used in web development, data science, automation, artificial intelligence, machine 
        learning, game development, and more. 
    </p>
{% endblock %}