{% extends 'includes/code_example.html' %}
{% load static %}

{% block code_file_id %}HTML-introducing-elements-code-examples-elements-block-elements{% endblock %}

{% block code_example_content %}
<pre><code class="html">&lt;h1&gt;This is a header&lt;/h1&gt;&lt;p&gt;This is a paragraph&lt;/p&gt;&lt;h2&gt;Though not the best layout&lt;/h2&gt;&lt;p&gt;This can demonstrate their blockiness&lt;/p&gt;
</code></pre>
{% endblock %}

{% block code_result_content %}
<h1>This is a header</h1>
<p>This is a paragraph</p>
<h2>Though not the best layout</h2>
<p>This can demonstrate their blockiness</p>    
{% endblock %}