{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-getting-started-with-regular-expressions">Getting Started with Regular Expressions</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-basic-characters">Basic Characters</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-anchors">Anchors</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-character-sets">Character Sets</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-special-sequences">Special Sequences</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-grouping-and-capturing">Grouping and Capturing</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-re-functions">re Functions</a>
    </li>
    <li class="page-contents-link">
        <a href="#Python-regular-expressions-examples">Examples</a>
    </li>
{% endblock %}
