{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#python-csv-what-is-csv">What is CSV?</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-csv-reading-csv-files">Reading CSV Files</a>
        <ul>
            <li class="page-contents-link">
                <a href="#python-csv-reading-csv-files-basic-reader">Basic Reader</a>  
            </li>
            <li class="page-contents-link">
                <a href="#python-csv-reading-csv-files-dict-reader">DictReader</a>  
            </li>
            <li class="page-contents-link">
                <a href="#python-csv-reading-csv-files-specifying-a-delimiter">Specifying a Delimiter</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#python-csv-save-a-specific-column-to-a-list">Save a Specific Column to a List</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-csv-splitting-lines-without-csv-reader">Splitting Lines Without csv.reader</a>
    </li>
    <li class="page-contents-link">
        <a href="#python-csv-writing-csv-files">Writing CSV Files</a>
        <ul>
            <li class="page-contents-link">
                <a href="#python-csv-writing-csv-files-using-dict-reader">Using DictReader</a>  
            </li>
            <li class="page-contents-link">
                <a href="#python-csv-writing-csv-files-using-csv-writer">Using csv.writer</a>  
            </li>
            <li class="page-contents-link">
                <a href="#python-csv-writing-csv-files-looping-through-dictionary-items">Looping Through Dictionary Items</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#python-csv-summary">Summary</a>
    </li>
{% endblock %}
