{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}Python-csv-reading-csv-files{% endblock %}

<!--Section title-->
{% block text_title %}Reading CSV Files{% endblock %}

<!--Section content-->
{% block text_content %}
    <!--Basic Reader-->
    <h4 id="Python-csv-reading-csv-files-basic-reader">
        Basic Reader - reads each row as a list:
    </h4>
    {% include 'python_app/csv/includes/code_snippets/read_basic.html' %}

    <!--DictReader-->
    <h4 id="Python-csv-reading-csv-files-dict-reader">
        DictReader - reads each row as a dictionary using the header row
    </h4>
    {% include 'python_app/csv/includes/code_snippets/read_dict.html' %}

    <!--Delimiter-->
    <h4 id="Python-csv-reading-csv-files-specifying-a-delimiter">
        Specifying a delimiter (e.g., semicolon-separated)
    </h4>
    {% include 'python_app/csv/includes/code_snippets/read_delimiter.html' %}
{% endblock %}