{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}python-csv-writing-csv-files{% endblock %}

<!--Section title-->
{% block text_title %}Writing CSV Files{% endblock %}

<!--Section content-->
{% block text_content %}
    <!--DictReader-->
    <h4 id="python-csv-writing-csv-files-using-dict-reader">
        Using DictWriter to write a list of dictionaries
    </h4>
    {% include 'python_app/csv/includes/code_snippets/write_dict.html' %}

    <!--CSV writer-->
    <h4 id="python-csv-writing-csv-files-using-csv-writer">
        Using csv.writer for basic writing
    </h4>
    {% include 'python_app/csv/includes/code_snippets/write_csv.html' %}

    <!--Loop-->
    <h4 id="python-csv-writing-csv-files-looping-through-dictionary-items">
        Looping through dictionary items
    </h4>
    {% include 'python_app/csv/includes/code_snippets/write_loop.html' %}
{% endblock %}