{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}javascript-validation-javascript-validation{% endblock %}

<!--Section title-->
{% block text_title %}JavaScript Validation{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        Validation in JavaScript is the process of checking whether data entered into a form or provided in code meets 
        the expected rules or formats. It helps prevent bugs, improves code quality, and ensures a smooth user 
        experience.
    </p>
{% endblock %}