{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#CSS-display-and-positioning-introduction">Introduction</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-display-and-positioning-display">Display</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-display-and-positioning-positioning">Positioning</a>
    </li>
    <li class="page-contents-link">
        <a href="#CSS-display-and-positioning-vertical-align">Vertical Align</a>
    </li>
{% endblock %}
