{% extends 'includes/contents.html' %}
{% load static %}

{% block contents_items %}
    <li class="page-contents-link">
        <a href="#JavaScript-emailjs-what-is-emailjs">What is EmailJS?</a>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-emailjs-setting-up-emailjs">Setting up EmailJS</a>
        <ul>
            <li class="page-contents-link">
                <a href="#JavaScript-emailjs-setting-up-emailjs-setting-up-your-account">Setting up Your Account</a>  
            </li>
            <li class="page-contents-link">
                <a href="#JavaScript-emailjs-setting-up-emailjs-creating-an-email-template">Creating an Email Template</a>  
            </li>
            <li class="page-contents-link">
                <a href="#JavaScript-emailjs-setting-up-emailjs-getting-your-public-key">Getting Your Public Key</a>  
            </li>
            <li class="page-contents-link">
                <a href="#JavaScript-emailjs-setting-up-emailjs-adding-the-library">Adding the Library</a>  
            </li>
        </ul>
    </li>
    <li class="page-contents-link">
        <a href="#JavaScript-emailjs-making-your-form">Making Your Form</a>
    </li>
{% endblock %}
