{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Python-pandas-code-snippets-filter-strings{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python">df.loc[df['col1'].str.contains('string')]
df.loc[~df['col1'].str.contains('string')]
df.loc[df['col1'].str.contains('pattern', regex=True)]
import re
df.loc[df['col1'].str.contains('string', flags=re.IGNORECASE, regex=True)]
</code></pre>
{% endblock %}