{% extends 'includes/text_box.html' %}
{% load static %}

<!--Section ID to link in contents-->
{% block text_section_id %}backend-postgresql-what-is-postgresql{% endblock %}

<!--Section title-->
{% block text_title %}What is PostgreSQL?{% endblock %}

<!--Section content-->
{% block text_content %}
    <p>
        PostgreSQL is an open source relational database system that uses SQL. It is an ORM (object relational database)
        and is case sensitive. It supports multiple programming languages including JavaScript and Python. It uses 
        capital letters for SQL, double quotes for table names and ends with semi colons.
    </p>
{% endblock %}