{% extends 'includes/code_snippet.html' %}
{% load static %}

<!--ID for the code snippet-->
{% block code_snippet_id %}Django-envpy-code-snippets-envpy-example{% endblock %}

<!--File name-->

<!--Code content-->
{% block code_snippet_content %}
<pre><code class="python"># Website link: https://webdevgrad-.herokuapp.com/
import os

os.environ["SECRET_KEY"] = ('whatever-your-secret-key-is')
os.environ["DEVELOPMENT"] = "On"
os.environ["ALGOLIA_APP_ID"] = "value"
os.environ["ALGOLIA_SEARCH_KEY"] = "value"
os.environ["ALGOLIA_WRITE_KEY"] = "value"

</code></pre>
{% endblock %}